<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-search"></i>
                    <span ng-show="$ctrl.searchResults.length > 0">{{ $ctrl.searchResults.length }} Ergebnisse</span>
                    <span ng-show="!$ctrl.searchResults || $ctrl.searchResults.length == 0">Suche nach m&uuml;ndlichen Pr&uuml;fungen</span>
                </h3>
            </div>

            <div class="panel-body">
                <div class="row mmtop">
                    <div class="col-sm-4">
                        <div class="btn-toolbar" role="toolbar">
                            <dropdown class="btn-group" data="[{semester: 0, name: 'Physikum'}, {semester: 1, name: 'Staatsexamen'}]" selected="$ctrl.oralExamSearch.semester" placeholder="Alle Semester" show-key="name" on-update="$ctrl.searchOralExams()"></dropdown>

                            <dropdown class="btn-group" data="$ctrl.distinctOralYears" selected="$ctrl.oralExamSearch.year" placeholder="Alle Jahre" show-key="year" on-update="$ctrl.searchOralExams()"></dropdown>
                        </div>
                    </div>

                    <div class="col-sm-8">
                        <form class="input-group mtop" submit="$ctrl.searchOralExams()">
                            <input class="form-control" type="text" ng-model="$ctrl.oralExamSearch.query" placeholder="...">

                            <span class="input-group-btn">
                                <button class="btn btn-default" ng-click="$ctrl.searchOralExams()">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="spinner-text" ng-show="$ctrl.oralExams.length == 0 && $ctrl.hasSearched">
    <p class="text-muted">
        <span>Nichts gefunden.</span>
    </p>
</div>

<table class="table table-hover" ng-show="$ctrl.oralExams.length > 0">
    <thead>
        <th></th>
        <th><i class="fa fa-fw fa-calendar"></i> Jahr</th>
        <th>Pr&uuml;fer</th>
        <th></th>
    </thead>

    <tbody>
        <tr ng-repeat="exam in $ctrl.oralExams">
            <td>
                <span ng-show="exam.semester == 0" class="label label-primary">Physikum</span>
                <span ng-show="exam.semester == 1" class="label label-primary">Staatsexamen</span>
            </td>
            <td>{{ exam.year }}</td>
            <td>
                {{ exam.examiner_1 }}<br>
                {{ exam.examiner_2 }}<br>
                {{ exam.examiner_3 }}<br>
                <span ng-if="exam.examiner_count == 4">{{ exam.examiner_4 }}</span>
            </td>
            <td><a href="/files/{{ exam.filename }}" target="_blank" ng-show="exam.filename"><i class="fa fa-external-link"></i></a></td>
        </tr>

        <tr class="search-sf" ng-show="!$ctrl.oralExams.length"><td class="text-muted" colspan="6">Nichts gefunden.</td></tr>
    </tbody>
</table>
