<app-toast></app-toast>

<div class="row" id="top">
  <div class="col-lg-4 push-lg-8">
    <div class="card card-exam-info mb-4">
      <div class="card-body">
        <h4 class="card-title"><i class="fa fa-fw fa-flask"></i> {{ currentQuestion()?.subject }}</h4>
        <p class="card-text">{{ currentQuestion()?.semester }}. Semester <i class="fa fa-fw fa-calendar"></i> {{ currentQuestion()?.date }}</p>
      </div>

      <div class="card-body">
        Frage {{ currentIndex + 1 }} von {{ length }}
        <ngb-progressbar type="success" [value]="(currentIndex + 1) / length * 100"></ngb-progressbar>
      </div>

      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngIf="currentQuestion()?.professor"><i class="fa fa-fw fa-user-md"></i> {{ currentQuestion()?.professor }}</li>
        <li class="list-group-item" *ngIf="currentQuestion()?.notes"><i class="fa fa-fw fa-pencil-square-o"></i> {{ currentQuestion()?.notes }}</li>
        <li class="list-group-item">
          <button class="btn btn-outline-secondary mr-auto" (click)="save()">Speichern</button>
          <button class="btn btn-danger" routerLink="/app/analysis">Beenden</button>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-lg-8 pull-lg-4">
    <div *ngFor="let c of combination; let i = index" id="question{{ i }}">
      <blockquote class="blockquote">
        <p class="mb-0">
          <a *ngIf="c.question?.question_image_url" (click)="openImageModal(c.question?.question_image_url)">
            <img class="img-thumbnail pull-right" width="250px" src="/files/{{ c.question?.question_image_url }}">
          </a>

          <span [innerHtml]="c.question?.question"></span>

          <span class="badge badge-info" *ngIf="c.question?.type == 1"> Freie Frage</span>
          <span class="badge badge-danger" *ngIf="c.question?.type > 1 && !c.question?.correct_answer"> Keine Antwort</span>
        </p>
      </blockquote>

      <div class="custom-controls-stacked" *ngIf="c.question?.type > 1">
        <div class="custom-control custom-radio mt-2" *ngFor="let a of c.question.answers; let j = index" (click)="collection.setAnswer(i, j + 1)" [hidden]="j >= c.question?.type">
          <input [(ngModel)]="c.data.given_result" id="radio-stacked{{i}}{{j}}" name="radio-stacked{{i}}" type="radio" class="custom-control-input" [value]="j + 1">
          <label class="custom-control-label" for="radio-stacked{{i}}{{j}}" [innerHtml]="a"></label>
        </div>
      </div>

      <hr>

      <!--div class="form-horizontal" id="id{{ $index }}">
          <div class="form-group" ng-repeat="answer in c.question.answers track by $index" ng-show="c.question.type > 1 && answer">
              <div class="col-sm-1"></div>
              <div class="col-sm-10">
                  <div class="radio" ng-click="$ctrl.Collection.setAnswer($parent.$index, $index + 1)">
                      <label>
                          <input type="radio" name="answers{{ $parent.$index }}" ng-checked="c.data.given_result == $index + 1" ng-value="$index + 1" />
                          <p ng-bind-html="answer"></p>
                      </label>
                  </div>
              </div>
          </div>
      </div-->
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="d-md-flex d-lg-none mb-4">
      <a class="btn btn-outline-secondary mr-2" href="/app/exam#top">
        <i class="fa fa-fw fa-arrow-circle-o-up"></i> Nach Oben
      </a>

      <button type="button" class="btn btn-outline-secondary mr-2" (click)="save()">
        Speichern
      </button>

      <button type="button" class="btn btn-danger" routerLink="/app/analysis">Klausur beenden</button>
    </div>
  </div>
</div>
