<h4>Von dir eingetragene Klausuren</h4>

<div class="row">
    <div class="col-md-8 col-sm-8">
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group mtop">
                <a class="btn btn-success" ng-click="$ctrl.newExam()">Neue Klausur</a>
            </div>

            <dropdown class="btn-group" data="$ctrl.distinctSemesters" selected="$ctrl.examSearch.semester" placeholder="Alle Semester" suffix=". Semester" show-key="semester" on-update="$ctrl.loadExams()"></dropdown>

            <dropdown class="btn-group" data="$ctrl.distinctSubjects" selected="$ctrl.examSearch.subject" placeholder="Alle F&auml;cher" show-key="name" on-update="$ctrl.loadExams()"></dropdown>

            <dropdown class="btn-group" data="$ctrl.distinctAuthors" selected="$ctrl.examSearch.author" placeholder="Alle Autoren" show-key="username" on-update="$ctrl.loadExams()"></dropdown>
        </div>
    </div>

    <div class="col-md-4 col-sm-4">
        <div class="input-group mtop">
            <input type="text" class="form-control" ng-model="$ctrl.examSearch.query" ng-change="$ctrl.loadExams()">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="$ctrl.loadExams()"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </div>
</div>

<table class="table table-hover mtop">
    <thead>
        <th></th>
        <th><i class="fa fa-fw fa-flask"></i> Fach</th>
        <th><i class="fa fa-fw fa-calendar"></i> Termin</th>
        <th>Semester</th>
        <th>Fragen</th>
        <th>Autor</th>
        <th></th>
    </thead>

    <tbody>
        <tr ng-repeat="exam in $ctrl.exams">
            <td>
                <span ng-if="exam.visibility == 0" class="label label-danger"><i class="fa fa-eye-slash"></i></span>
                <span ng-if="exam.visibility == 1" class="label label-success"><i class="fa fa-eye"></i></span>
            </td>
            <td>{{ exam.subject }}</td>
            <td>{{ exam.date }}</td>
            <td>{{ exam.semester }}</td>
            <td>{{ exam.question_count }}</td>
            <td>{{ exam.author }}</td>
            <td><a ui-sref="edit-exam({ examId: exam.exam_id })"><i class="fa fa-pencil"></i></a></td>
        </tr>

        <tr class="search-sf" ng-show="!$ctrl.exams.length"><td class="text-muted" colspan="6">Nichts gefunden.</td></tr>
    </tbody>
</table>
