<div class="wrap">
  <div class="container">
    <div class="d-flex justify-content-between">
      <a class="brand d-flex flex-column justify-content-center align-items-center" routerLink="">
        <h1><i class="fa fa-check-square-o"></i> Crucio</h1>
      </a>

      <a class="btn btn-outline-success mt-3 mb-3" routerLink="">
        <i class="fa fa-sign-in fa-fw"></i> Anmelden
      </a>
    </div>
  </div>

  <div class="container-fluid bg-image">
    <div class="container text-white">
      <div class="text-center pt-5 pb-5">
        <h1 class="display-3"><i class="fa fa-info-circle"></i></h1>
        <h4>Impressum</h4>
      </div>
    </div>
  </div>

  <div class="container-fluid bg-light">
    <div class="container">
      <div class="text-center pt-4 pb-4">
        <strong>StuRaMed Leipzig</strong><br>
        Liebigstraße 27<br>
        04103 Leipzig

        <div class="mt-4">Crucio ist ein Open-Source Projekt. <a href="https://pantor.github.io/crucio/">Mehr dazu...</a></div>
      </div>
    </div>
  </div>

  <div class="container mt-5 mb-5">
    <dl class="row">
      <dt class="col-sm-3">Version</dt>
      <dd class="col-sm-9">Crucio ist in der 1.0-Version. Falls ihr Fehler entdeckt, könnt ihr sie bei <a href="">Github</a> eintragen. Oder euch einfach bei uns melden...</dd>

      <dt class="col-sm-3">Disclaimer</dt>
      <dd class="col-sm-9">Sofern auf Links direkt oder indirekt verwiesen wird, die außerhalb des Verantwortungsbereiches des Autors liegen, haftet dieser nur dann, wenn er von den Inhalten Kenntnis hat und es ihm technisch möglich und zumutbar wäre, die Nutzung im Falle rechtswidriger Inhalte zu verhindern. Für darüber hinausgehende Inhalte und insbesondere für Schäden, die aus der Nutzung oder Nichtnutzung solcherart dargebotener Informationen entstehen, haftet allein der Anbieter der Seite, auf welche verwiesen wurde, nicht derjenige, der über Links auf die jeweilige Veröffentlichung lediglich verweist. Diese Einschränkung gilt gleichermaßen auch für Fremdeinträge in vom Autor eingerichteten Gästebüchern, Diskussionsforen und Mailinglisten.</dd>

      <dt class="col-sm-3">Datenschutz</dt>
      <dd class="col-sm-9">Diese Website nutzt Google Analytics, dabei werden Daten über den verwendeten Browsertyp/ -version, Betriebssystem, Referrer URL (die zuvor besuchte Seite), Hostname des zugreifenden Rechners (IP Adresse) und der Uhrzeit der Serveranfrage erhoben und verarbeitet. Diese Daten sind nicht bestimmten Personen zuordbar. Eine Zusammenführung dieser Daten mit anderen Datenquellen wird nicht vorgenommen.</dd>
    </dl>
  </div>
</div>

<footer class="navbar navbar-dark bg-dark">
  <div class="container d-flex justify-content-around">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="https://sturamed-leipzig.de">Sturamed</a>
      </div>

      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/app"><i class="fa fa-check-square-o"></i></a>
      </div>

      <div class="navbar-nav d-flex flex-row">
        <a class="nav-item nav-link" routerLink="/contact">Kontakt</a>
        <a class="nav-item nav-link ml-3" routerLink="/about">Impressum</a>
      </div>
  </div>
</footer>
