<div class="container">
    <div class="row mtop-navbar-row">
        <div class="col-sm-12 col-md-4 visible-xs visible-sm">
            <div class="panel panel-default" ng-show="$ctrl.exam">
                <div class="panel-heading"><h3 class="panel-title"><i class="fa fa-fw fa-flask"></i> {{ $ctrl.exam.subject }}</h3></div>
                <ul class="list-group">
                    <li class="list-group-item">{{ $ctrl.exam.semester }}. Semester<span ng-show="$ctrl.exam.sort">, {{ $ctrl.exam.sort }}</span></li>
                    <li class="list-group-item"><i class="fa fa-fw fa-calendar"></i> {{ $ctrl.exam.date }}</li>
                    <li class="list-group-item" ng-show="$ctrl.exam.professor"><i class="fa fa-fw fa-user-md"></i> {{ $ctrl.exam.professor }}</li>
                    <li class="list-group-item" ng-show="$ctrl.exam.notes"><i class="fa fa-fw fa-pencil-square-o"></i> {{ $ctrl.exam.notes }}</li>

                    <li class="list-group-item">
                        <div class="btn-toolbar" role="toolbar">
                            <div class="btn-group" role="group" role="group" uib-dropdown>
                                <button type="button" class="btn btn-default" uib-dropdown-toggle>
                                    <i class="fa fa-fw fa-file-pdf-o"></i> PDF <i class="fa fa-caret-down"></i>
                                </button>

                                <ul class="dropdown-menu" role="menu">
                                    <li ng-class="{'disabled': $ctrl.exam.file_name == ''}">
                                        <a href="/files/{{ $ctrl.exam.file_name }}" target="_self" ng-if="$ctrl.exam.file_name != ''">Originaldokument</a>
                                        <a ng-if="$ctrl.exam.file_name == ''">Originaldokument</a>
                                    </li>

                                    <li><a href="/api/v1/pdf/exam/{{ $ctrl.exam.exam_id }}" target="_self">Klausur als PDF</a></li>
                                    <li><a href="/api/v1/pdf/solution/{{ $ctrl.exam.exam_id }}" target="_self">L&ouml;sungen als PDF</a></li>
                                </ul>
                            </div>

                            <div class="btn-group pull-right" role="group">
                                <button type="button" class="btn btn-danger" ng-click="$ctrl.handExam()">Klausur abgeben</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-sm-12 col-md-8 mbottom-3x">
            <div ng-repeat="q in ::$ctrl.Collection.get().list" id="{{ $index + 1 }}">
                <div class="form-horizontal" id="id{{ $index }}">
                    <blockquote>
                        <p>
                            <a href data-toggle="modal" data-target="#myModal" ng-show="q.question_image_url" ng-click="$ctrl.openImageModal(q.question_image_url)">
                                <img class="img-thumbnail pull-right" width="250px" ng-src="/files/{{ q.question_image_url }}">
                            </a>

                            <span ng-bind-html="q.question"></span>

                            <span class="label label-info" ng-show="question.type == 1"> Freie Frage</span>
                            <span class="label label-danger" ng-show="question.type > 1 && !question.correct_answer"> Keine Antwort</span>
                        </p>
                    </blockquote>

                    <div class="form-group" ng-repeat="answer in q.answers track by $index" ng-show="q.type > 1 && answer">
                        <div class="col-sm-offset-1 col-sm-10">
                            <div class="radio" ng-click="$ctrl.Collection.saveAnswer($parent.$index, $index + 1)">
                                <label>
                                    <input type="radio" name="answers{{ $parent.$index }}" ng-checked="q.answers.result == $index + 1" ng-value="$index + 1" />
                                    <p ng-bind-html="answer"></p>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>

        <div class="col-md-4 hidden-xs hidden-sm">
            <div class="panel panel-default" ng-show="$ctrl.exam" style="position:fixed;width:300px;">
                <div class="panel-heading"><h3 class="panel-title"><i class="fa fa-fw fa-flask"></i> {{ $ctrl.exam.subject }}</h3></div>
                <ul class="list-group">
                    <li class="list-group-item">{{ $ctrl.exam.semester }}. Semester<span ng-show="$ctrl.exam.sort">, {{ $ctrl.exam.sort }}</span></li>
                    <li class="list-group-item"><i class="fa fa-fw fa-calendar"></i> {{ $ctrl.exam.date }}</li>
                    <li class="list-group-item" ng-show="$ctrl.exam.professor"><i class="fa fa-fw fa-user-md"></i> {{ $ctrl.exam.professor }}</li>
                    <li class="list-group-item" ng-show="$ctrl.exam.notes"><i class="fa fa-fw fa-pencil-square-o"></i> {{ $ctrl.exam.notes }}</li>

                    <li class="list-group-item">
                        <p class="strong">Frage {{ $ctrl.currentIndex + 1 }} von {{ $ctrl.length }}</p>

                        <uib-progressbar value="($ctrl.currentIndex + 1) / $ctrl.length * 100" type="success"></uib-progressbar>

                        <div class="exam-progress-comment text-success" ng-show="$ctrl.Collection.isHalftime($ctrl.currentIndex)">
                            Halbzeit!
                        </div>

                        <p ng-show="$ctrl.Collection.getQuestionData($ctrl.currentIndex).topic != '' && $ctrl.Collection.getQuestionData($ctrl.currentIndex).topic != 'Sonstiges'">
                            <i class="fa fa-fw fa-angle-right"></i> {{ $ctrl.Collection.getQuestionData($ctrl.currentIndex).topic }}
                        </p>

                        <div class="btn-toolbar" role="toolbar" ng-if="$ctrl.user.group_id == 2 || $ctrl.user.group_id == 3">
                            <div class="btn-group pull-right" role="group">
                                <a class="btn btn-default" href="edit-exam?id={{ $ctrl.exam.exam_id }}&question_id={{ $ctrl.Collection.getQuestionData($ctrl.currentIndex).question_id }}">Bearbeiten</a>
                            </div>
                        </div>
                    </li>

                    <li class="list-group-item">
                        <div class="btn-toolbar" role="toolbar">
                            <div class="btn-group" role="group" role="group" uib-dropdown>
                                <button type="button" class="btn btn-default" uib-dropdown-toggle>
                                    <i class="fa fa-fw fa-file-pdf-o"></i> PDF <i class="fa fa-caret-down"></i>
                                </button>

                                <ul class="dropdown-menu" role="menu">
                                    <li ng-class="{'disabled': $ctrl.exam.file_name == ''}">
                                        <a href="/files/{{ $ctrl.exam.file_name }}" target="_self" ng-if="$ctrl.exam.file_name != ''">Originaldokument</a>
                                        <a ng-if="$ctrl.exam.file_name == ''">Originaldokument</a>
                                    </li>

                                    <li><a href="/api/v1/pdf/exam/{{ $ctrl.exam.exam_id }}" target="_self">Klausur als PDF</a></li>
                                    <li><a href="/api/v1/pdf/solution/{{ $ctrl.exam.exam_id }}" target="_self">L&ouml;sungen als PDF</a></li>
                                </ul>
                            </div>

                            <div class="btn-group pull-right" role="group">
                                <button type="button" class="btn btn-danger" ng-click="$ctrl.handExam()">Klausur abgeben</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="btn-toolbar mbottom-3x mmtop visible-xs visible-sm">
        <button class="btn btn-default" ng-click="$ctrl.$document.scrollTopAnimated(0, 400)">
            <i class="fa fa-fw fa-arrow-circle-o-up"></i> Nach Oben
        </button>

        <div class="btn-group pull-right" role="group">
            <button type="button" class="btn btn-danger" ng-click="$ctrl.handExam()">Klausur abgeben</button>
        </div>
    </div>
</div>

<script type="text/ng-template" id="imageModalContent.html">
    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel"><i class="fa fa-search"></i> Vergr&ouml;&szlig;erung</h4>
    </div>
    <div class="modal-body">
        <center><img class="img-thumbnail" ng-src="/files/{{ $ctrl.data }}"></center>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" ng-click="$close()">Schlie&szlig;en</button>
    </div>
</script>
