<div class="container">
    <form class="form-horizontal mtop-navbar-row">
        <div class="row">
            <div class="col-md-9">
                <blockquote>
                    <p>
                        <a href data-toggle="modal" data-target="#myModal" ng-show="$ctrl.question.question_image_url" ng-click="$ctrl.openImageModal()">
                            <img class="img-thumbnail pull-right" width="250px" ng-src="/files/{{ $ctrl.question.question_image_url }}">
                        </a>

                        <span ng-bind-html="$ctrl.question.question"></span>

                        <span class="label label-info" ng-show="$ctrl.question.type == 1"> Freie Frage</span>
                        <span class="label label-warning" ng-show="$ctrl.question.type > 1 && $ctrl.question.correct_answer == 0"> Keine Antwort</span>
                    </p>
                </blockquote>

                <div class="form-group showhim" ng-repeat="answer in $ctrl.question.answers track by $index" ng-show="$ctrl.question.type > 1 && answer">
                    <div class="col-sm-offset-1 col-sm-10">
                        <div class="btn-group btn-group-strike hidden-xs">
                            <button type="button" class="btn btn-default btn-xs showme" ng-model="$ctrl.questionData.strike[$index + 1]" ng-change="$ctrl.Collection.saveStrike($ctrl.index, $ctrl.questionData.strike)" uib-btn-checkbox>
                                <i class="fa fa-fw fa-strikethrough"></i>
                            </button>
                        </div>

                        <div class="radio" ng-click="$ctrl.saveAnswer($index + 1)">
                            <label>
                                <input type="radio" name="answers" ng-checked="$ctrl.checkedAnswer == $index + 1" ng-value="$index + 1" />
                                <p class="answer" ng-class="{ 'text-success strong bg-success': $ctrl.correctAnswer == $index + 1, 'text-danger strong bg-danger': $ctrl.wrongAnswer == $index + 1, 'text-danger strike': ($ctrl.questionData.strike[$index + 1] == 1 && $ctrl.correctAnswer != $index + 1) }" ng-bind-html="answer"></p>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group" ng-show="$ctrl.question.type == 1">
                    <div class="col-sm-offset-1 col-sm-10">
                        <div class="radio">
                            <label>
                                <p ng-show="$ctrl.isAnswerGiven" ng-bind-html="$ctrl.question.answers[0]"></p>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 hidden-sm hidden-xs">
                <div class="panel panel-default" ng-show="$ctrl.question.exam_id">
                    <div class="panel-heading"><h3 class="panel-title"><i class="fa fa-fw fa-flask"></i> {{ $ctrl.question.subject }}</h3></div>
                    <ul class="list-group">
                        <li class="list-group-item">{{ $ctrl.question.semester }}. Semester<span ng-show="question.sort">, {{ $ctrl.question.sort }}</span></li>
                        <li class="list-group-item"><i class="fa fa-fw fa-calendar"></i> {{ $ctrl.question.date }}</li>
                        <li class="list-group-item" ng-if="$ctrl.question.professor"><i class="fa fa-fw fa-user-md"></i> {{ $ctrl.question.professor }}</li>
                        <li class="list-group-item" ng-if="$ctrl.question.topic && $ctrl.question.topic != 'Sonstiges' && $ctrl.question.topic != ''">
                            <i class="fa fa-fw fa-angle-right"></i> {{ $ctrl.question.topic }}
                        </li>

                        <li class="list-group-item" ng-if="$ctrl.index != -1">
                            <p><strong>Frage {{ $ctrl.index + 1 }} von {{ $ctrl.length }}</strong></p>

                            <uib-progressbar value="($ctrl.index + 1) / $ctrl.length * 100" type="success"></uib-progressbar>

                            <div class="exam-progress-comment text-success" ng-show="$ctrl.Collection.isHalftime($ctrl.currentIndex)">
                                Halbzeit!
                            </div>
                        </li>
                    </ul>
                </div>

                <hr>

                <tags-input placeholder="Markierung hinzuf&uuml;gen" ng-model="$ctrl.tags" on-tag-added="$ctrl.updateTags($tag)" on-tag-removed="$ctrl.updateTags($tag)"></tags-input>
            </div>
        </div>

        <hr>

        <div class="btn-toolbar mmtop">
            <div class="btn-group">
                <a class="btn btn-default mtop" ng-if="$ctrl.index != -1" ng-disabled="$ctrl.preQuestionId == $ctrl.questionId" ng-href="question?id={{ $ctrl.preQuestionId }}">
                    <i class="fa fa-backward"></i>
                </a>

                <button class="btn mtop" ng-class="{ 'btn-primary': !$ctrl.isAnswerGiven, 'btn-success': $ctrl.isAnswerRight, 'btn-danger': $ctrl.isAnswerWrong }" ng-disabled="$ctrl.isAnswerGiven || ($ctrl.question.type == 1 && $ctrl.question.answers[0].length == 0) || ($ctrl.question.type > 1 && $ctrl.question.correct_answer == 0)" ng-click="$ctrl.showSolution()">
                    L&ouml;sung anzeigen
                </button>

                <button class="btn btn-default mtop" ng-disabled="!$ctrl.question.explanation" ng-click="$ctrl.showExplanation = !$ctrl.showExplanation">
                    Erkl&auml;rung
                </button>

                <a class="btn btn-default mtop" ng-if="$ctrl.index != -1" ng-disabled="$ctrl.postQuestionId == $ctrl.questionId" ng-href="question?id={{ $ctrl.postQuestionId }}">
                    <i class="fa fa-forward"></i>
                </a>
            </div>

            <a class="btn btn-danger mtop" ng-if="$ctrl.index != -1" href="analysis">Klausur beenden</a>

            <a ng-if="$ctrl.user.group_id == 2 || $ctrl.user.group_id == 3" class="btn btn-default pull-right mtop hidden-xs" href="edit-exam?id={{ $ctrl.question.exam_id }}&question_id={{ $ctrl.questionId }}">
                Bearbeiten
            </a>

            <div class="btn-group pull-right mtop" uib-dropdown>
                <a class="btn btn-default" uib-dropdown-toggle>Melden <span class="caret"></span></a>

                <ul class="dropdown-menu">
                    <li><a href="/help?question_id={{ $ctrl.questionId }}" tabindex="-1">
                        Allgemein
                    </a></li>
                    <li><a href="/help?question_id={{ $ctrl.questionId }}&s=Rechtschreibfehler" tabindex="-1">
                        Rechtschreibfehler
                    </a></li>
                    <li><a href="/help?question_id={{ $ctrl.questionId }}&s=Antwort" tabindex="-1">
                        {{ $ctrl.question.correct_answer >= 0 ? 'Falsche Antwort' : 'Antwort geben' }}
                    </a></li>
                    <li class="divider"></li>
                    <li><a href="/help?question_id={{ $ctrl.questionId }}" tabindex="-1">
                        Erkl&auml;rung schreiben
                    </a></li>
                </ul>
            </div>

            <div class="btn-group pull-right mtop hidden-xs" role="group" uib-dropdown>
                <button type="button" class="btn btn-default" uib-dropdown-toggle>
                    <i class="fa fa-fw fa-file-pdf-o"></i> PDF <i class="fa fa-caret-down"></i>
                </button>

                <ul class="dropdown-menu" role="menu">
                    <li ng-class="{ disabled: $ctrl.question.file_name == '' }">
                        <a href="/files/{{ $ctrl.question.file_name }}" target="_self" ng-if="$ctrl.question.file_name != ''">Originaldokument</a>
                        <a ng-if="question.file_name == ''">Originaldokument</a>
                    </li>

                    <li><a href="api/v1/pdf/exam/{{ $ctrl.question.exam_id }}" target="_self">Klausur als PDF</a></li>
                    <li><a href="api/v1/pdf/solution/{{ $ctrl.question.exam_id }}" target="_self">L&ouml;sungen als PDF</a></li>
                </ul>
            </div>
        </div>
    </form>

    <div class="panel panel-default mtop-2x" ng-show="$ctrl.showExplanation"><div class="panel-body"><span ng-bind-html="$ctrl.question.explanation"></span></div></div>

    <hr>

    <div class="panel panel-default mbottom-2x">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a ng-click="$ctrl.commentsCollapsed = !$ctrl.commentsCollapsed">
                    <i class="fa fa-comments fa-fw"></i>Kommentare
                    <div class="pull-right"><span class="badge">{{ $ctrl.comments.length }}</span></div>
                </a>
            </h4>
        </div>

        <div class="panel panel-collapse collapse" uib-collapse="$ctrl.commentsCollapsed">
            <div class="panel-body">
                <form method="post">
                    <input type="hidden" name="question_id" ng-value="question_id">
                    <div class="form-group">
                        <label for="disabledTextInput">{{ $ctrl.user.username }}</label>
                        <div class="row">
                            <div class="col-lg-10 col-md-9 col-sm-8">
                                <textarea class="form-control" name="$ctrl.commentText" rows="3" ng-model="$ctrl.commentText"></textarea>
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-4">
                                <!--div class="checkbox">
                                    <label><input id="subscriptCommentsCheckbox" type="checkbox"> Antworten per Mail</label>
                                </div-->
                                <br>
                                <button class="btn btn-primary btn-block" ng-click="$ctrl.addComment()" ng-disabled="!$ctrl.commentText">Kommentieren</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <ul class="list-group">
                <div id="comments">
                    <li class="list-group-item" id="comment" ng-repeat="comment in $ctrl.comments">
                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-xs-4">
                                <div class="comment-voting pull-left">
                                    <div class="comment-voting-up">
                                        <a ng-click="$ctrl.changeUserVoting(comment, 1)" href>
                                            <i class="fa fa-chevron-up text-muted" ng-class="{ 'text-success': comment.user_voting == 1 }"></i>
                                        </a>
                                    </div>

                                    <div class="comment-voting-number">
                                        <small class="text-muted">{{ comment.voting + comment.user_voting }}</small>
                                    </div>

                                    <div class="comment-voting-down">
                                        <a ng-click="$ctrl.changeUserVoting(comment, -1)" href>
                                            <i class="fa fa-chevron-down text-muted" ng-class="{ 'text-danger': comment.user_voting == -1 }"></i>
                                        </a>
                                    </div>
                                </div>

                                <div class="header">
                                    <strong class="primary-font">{{ comment.username }}</strong>
                                    <br>
                                    <small class="text-muted">
                                        <i class="fa fa-clock-o"></i>
                                        <timeago datetime="comment.date * 1000"></timeago>
                                    </small>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-5 col-xs-4">
                                <p>{{ comment.comment }}</p>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-4" ng-if="$ctrl.user.group_id == 2 || $ctrl.user.user_id == comment.user_id">
                                <div class="btn-group pull-right">
                                    <button type="button" class="close" ng-click="$ctrl.deleteComment($index)">&times;</button>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</div>

<script type="text/ng-template" id="imageModalContent.html">
    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel"><i class="fa fa-search"></i> Vergr&ouml;&szlig;erung</h4>
    </div>
    <div class="modal-body">
        <center><img class="img-thumbnail" ng-src="/files/{{ $ctrl.data }}"></center>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" ng-click="$close()">Schlie&szlig;en</button>
    </div>
</script>
