<div class="container">
    <div class="row mtop-navbar-row">
        <div class="col-md-3 sidebar">
            <ul class="nav nav-pills nav-stacked mbottom-2x">
                <li ng-class="{active: ctrl.activeTab == 'users'}"><a ng-click="ctrl.activeTab = 'users'"><i class="fa fa-users fa-fw"></i>  Benutzer</a></li>
                <li ng-class="{active: ctrl.activeTab == 'whitelist'}"><a ng-click="ctrl.activeTab = 'whitelist'"><i class="fa fa-envelope fa-fw"></i>  E-Mail Whitelist</a></li>
                <li ng-class="{active: ctrl.activeTab == 'comments'}"><a ng-click="ctrl.activeTab = 'comments'"><i class="fa fa-comments fa-fw"></i>  Kommentare</a></li>
                <li ng-class="{active: ctrl.activeTab == 'tools'}"><a ng-click="ctrl.activeTab = 'tools'"><i class="fa fa-wrench fa-fw"></i>  Tools</a></li>
                <li ng-class="{active: ctrl.activeTab == 'stats'}"><a ng-click="ctrl.activeTab = 'stats'"><i class="fa fa-bar-chart fa-fw"></i>  Statistik</a></li>
            </ul>
            <hr class="visible-xs visible-sm">
        </div>

        <div class="col-md-9">
            <div class="tab-content">
                <div ng-show="ctrl.activeTab == 'users' && ctrl.ready">
                    <div class="row mmtop">
                        <div class="col-md-8 col-sm-8">
                            <div class="btn-toolbar" role="toolbar">
                                <div class="btn-group mtop" uib-dropdown>
                                    <button class="btn btn-default" type="button" uib-dropdown-toggle>
                                        {{ ctrl.user_search.semester ? ctrl.user_search.semester + '. Semester' : 'Alle Semester' }} <span class="caret"></span>
                                    </button>

                                    <ul class="dropdown-menu" role="menu">
                                        <li ng-repeat="sem in ctrl.distinct_semesters">
                                            <a href ng-click="ctrl.user_search.semester=sem">{{ sem }}. Semester</a>
                                        </li>

                                        <li class="divider"></li>
                                        <li><a href ng-click="ctrl.user_search.semester=''">Alle Semester</a></li>
                                    </ul>
                                </div>
                                <div class="btn-group mtop" uib-dropdown>
                                    <button class="btn btn-default" type="button" uib-dropdown-toggle>
                                        {{ user_search.group ? user_search.group : 'Alle Gruppen' }} <span class="caret"></span>
                                    </button>

                                    <ul class="dropdown-menu" role="menu">
                                        <li ng-repeat="group_child in ctrl.distinct_groups"><a href ng-click="ctrl.user_search.group=group_child">{{ group_child }}</a></li>
                                        <li class="divider"></li>
                                        <li><a href ng-click="ctrl.user_search.group=''">Alle Gruppen</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="input-group mtop">
                                <input class="form-control" type="text" ng-model="ctrl.user_search.query">
                                <span class="input-group-btn">
                                    <button class="btn btn-default"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="table-responsive">
                        <table id="user-table" class="table">
                            <thead>
                                <th></th>
                                <th>Name</th>
                                <th>Semester</th>
                                <th>Letzte Anmeldung</th>
                                <th>Registrierung</th>
                                <th></th>
                            </thead>

                            <tbody>
                                <tr ng-repeat="user in ::ctrl.users" ng-show="ctrl.userInSelection($index)">
                                    <td id="group">
                                        <button class="btn btn-danger admin-group-btn" ng-if="user.group_id==2" ng-click="ctrl.changeGroup($index)">
                                            {{ user.group_name }}
                                        </button>

                                        <button class="btn btn-info admin-group-btn" ng-if="user.group_id==3" ng-click="ctrl.changeGroup($index)">
                                            {{ user.group_name }}
                                        </button>

                                        <button class="btn btn-default admin-group-btn" ng-if="user.group_id==1" ng-click="ctrl.changeGroup($index)">
                                            {{ user.group_name }}
                                        </button>
                                    </td>
                                    <td>{{ ::user.username }}</td>
                                    <td id="semester">{{ user.semester }}</td>
                                    <td id="login">
                                        <span ng-if="user.last_sign_in > 0 && !ctrl.isToday(user.last_sign_in) && !ctrl.isYesterday(user.last_sign_in)">
                                            {{ ::user.last_sign_in * 1000 | date: 'dd.MM.yyyy, HH:mm' }}
                                        </span>

                                        <span ng-if="user.last_sign_in > 0 && ctrl.isToday(user.last_sign_in)" class="label label-success">
                                            Heute, {{ ::user.last_sign_in * 1000 | date: 'HH:mm' }}
                                        </span>

                                        <span ng-if="user.last_sign_in > 0 && ctrl.isYesterday(user.last_sign_in)">
                                            Gestern, {{ ::user.last_sign_in * 1000 | date: 'HH:mm' }}
                                        </span>

                                        <span ng-if="user.last_sign_in == 0 && user.active == 0" class="label label-danger">Nicht Aktiviert</span>
                                        <span ng-if="user.last_sign_in == 0 && user.active == 1" class="label label-warning">Nie Angemeldet</span>
                                    </td>
                                    <td>{{ ::user.sign_up_date * 1000 | date: 'dd.MM.yyyy' }}</td>
                                    <td><a href="mailto:{{ ::user.email }}" uib-tooltip="{{ ::user.email }}">
                                        <i class="fa fa-envelope"></i>
                                    </a></td>
                                </tr>

                                <tr class="search-sf" ng-show="ctrl.userInSelectionCount() == 0"><td class="text-muted" colspan="6">Nichts gefunden.</td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>


                <div ng-show="ctrl.activeTab == 'whitelist'">
                    <h4>F&uuml;r fremde E-Mail-Adressen<small> die nicht ______@studserv.uni-leipzig.de entsprechen</small></h4>
                    <div class="row">
                        <center>
                            <form class="input-group col-xs-10 col-sm-6" ng-submit="ctrl.addMail()">
                                <input class="form-control" ng-model="ctrl.new_whitelist_mail" type="text" placeholder="Mail-Adresse...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default"><i class="fa fa-plus"></i></button>
                                </span>
                            </form>
                        </center>
                    </div>

                    <br>

                    <table class="table">
                        <thead>
                            <th>In Verwendung?</th>
                            <th>E-Mail-Adresse</th>
                            <th></th>
                        </thead>

                        <tbody>
                            <tr ng-repeat="email in ctrl.whitelist">
                                <td><i ng-show="email.used > 0" class="fa fa-check"></i></td>
                                <td>{{ email.mail_address }}</td>
                                <td><button ng-click="ctrl.removeMail($index)" type="button" class="close">&times;</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <div ng-show="ctrl.activeTab == 'comments'">
                    <h4 class="mbottom-2x">Alle Kommentare</h4>

                    <div class="row mmtop">
                        <div class="col-md-6 col-sm-6 col-sm-offset-6 col-md-offset-6">
                            <div class="input-group mtop">
                                <input class="form-control" type="text" ng-model="ctrl.comment_search.query">
                                <span class="input-group-btn">
                                    <button class="btn btn-default"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>

                    <br>

                    <table class="table">
                        <thead>
                            <th>Frage</th>
                            <th><i class="fa fa-fw fa-user"></i> Name</th>
                            <th><i class="fa fa-comment-o fa-user"></i> Kommentar</th>
                            <th style="min-width: 100px;"><i class="fa fa-clock-o fa-user"></i> Datum</th>
                            <th></th>
                        </thead>

                        <tbody ng-repeat="comment_array in ctrl.questions_by_comment_display">
                            <tr ng-repeat="c in comment_array">
                                <td ng-show="$index==0" rowspan="{{ comment_array.length }}" style="min-width:140px;">
                                    <span ng-bind-html="c.question"></span>
                                </td>
                                <td>{{ c.username }}</td>
                                <td>{{ c.comment }}</td>
                                <td><span timeago="{{c.date * 1000}}"></td>
                                <td><a href="question?id={{ c.question_id }}&reset_session=1"><i class="fa fa-chevron-right"></i></a></td>
                            </tr>
                        </tbody>

                        <tbody class="search-sf" ng-show="ctrl.commentInSelectionCount() == 0">
                            <td class="text-muted" colspan="6">Nichts gefunden.</td>
                        </tbody>
                    </table>
                </div>


                <div ng-show="ctrl.activeTab == 'tools'">
                    <h4 class="mbottom-2x">Bitte sehr vorsichtig sein!</h4>
                    <div class="btn-toolbar">
                        <div class="btn-group">
                            <button class="btn btn-default" ng-click="ctrl.increaseSemester()">Semester +1</button>
                            <button class="btn btn-default" ng-click="ctrl.decreaseSemester()">-1</button>
                        </div>
                    </div>

                    <hr>

                    <div class="btn-toolbar">
                        <button class="btn btn-default" ng-click="ctrl.removeTestAccount()">Test Account l&ouml;schen</button>
                    </div>

                    <hr>

                    <div class="btn-toolbar">
                        <a class="btn btn-default" href="https://www.google.com/analytics/web/#report/visitors-overview/a47836301w79202201p81910001/" target="_self"><i class="fa fa-fw fa-external-link"></i> Google Analytics</a>
                        <a class="btn btn-default" href="https://github.com/crucioproject/Crucio" target="_self"><i class="fa fa-fw fa-external-link"></i> Github</a>
                    </div>
                </div>


                <div ng-show="ctrl.activeTab == 'stats'">
                    <div class="btn-toolbar">
                        <a class="btn btn-default pull-right" href="https://www.google.com/analytics/web/#report/visitors-overview/a47836301w79202201p81910001/" target="_self"><i class="fa fa-fw fa-external-link"></i> Google Analytics</a>
                        <a class="btn btn-default pull-right" href="global-statistic">Live Statistik</a>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-xs-6 col-sm-4">
                            <div class="stats-box">

                                <h5>{{ ::ctrl.stats.user_count }}</h5>
                                <p><i class="fa fa-users fa-fw"></i> Nutzer</p>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <div class="stats-box">
                                <h5>{{ ::ctrl.stats.question_count }}</h5>
                                <p> <i class="fa fa-question-circle fa-fw"></i> Fragen | {{ ::ctrl.stats.visible_question_count }} sichtbar</p>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <div class="stats-box">
                                <h5>{{ ::ctrl.stats.exam_count }}</h5>
                                <p> <i class="fa fa-list fa-fw"></i> Klausuren | {{ ctrl.stats.visible_exam_count }} sichtbar</p>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <div class="stats-box">
                                <h5>{{ ::ctrl.stats.result_count }}</h5>
                                <p>
                                    <i class="fa fa-exclamation-triangle fa-fw"></i>
                                    Antworten | {{ ctrl.stats.result_count / ctrl.stats.user_count | number:0  }} / Nutzer
                                </p>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <div class="stats-box">
                                <h5>{{ ctrl.stats.result_count_today }}</h5>
                                <p><i class="fa fa-exclamation-triangle fa-fw"></i> Antworten | 24 Stunden</p>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <div class="stats-box">
                                <h5>{{ ctrl.stats.result_per_minute | number : 2 }}</h5>
                                <p><i class="fa fa-exclamation-triangle fa-fw"></i> Antworten pro Minute</p>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <div class="stats-box">
                                <h5>{{ ::ctrl.stats.comment_count }}</h5>
                                <p> <i class="fa fa-comments fa-fw"></i> Kommentare</p>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <div class="stats-box">
                                <h5>{{ ::ctrl.stats.tag_count }}</h5>
                                <p> <i class="fa fa-tags fa-fw"></i> Markierungen</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>