<div class="container">
	<div class="row mtop-navbar-row">
	    <div class="col-md-3 sidebar">
	    	<ul class="nav nav-pills nav-stacked mbottom-2x">
				<li ng-class="{active: ctrl.activeTab == 'stats'}"><a ng-click="ctrl.activeTab = 'stats'"><i class="fa fa-bar-chart fa-fw"></i>  &Uuml;bersicht</a></li>
				<hr>
				<li ng-class="{active: ctrl.activeTab == 'users'}"><a ng-click="ctrl.activeTab = 'users'"><i class="fa fa-users fa-fw"></i>  Nutzer</a></li>
				<li ng-class="{active: ctrl.activeTab == 'questions'}"><a ng-click="ctrl.activeTab = 'questions'"><i class="fa fa-question-circle fa-fw"></i>  Fragen</a></li>
				<li ng-class="{active: ctrl.activeTab == 'results'}"><a ng-click="ctrl.activeTab = 'results'"><i class="fa fa-exclamation-triangle fa-fw"></i>  Antworten</a></li>
				<li ng-class="{active: ctrl.activeTab == 'activity'}"><a ng-click="ctrl.activeTab = 'activity'"><i class="fa fa-bicycle fa-fw"></i>  Aktivit&auml;t</a></li>
			</ul>
			<hr class="visible-xs visible-sm">
	    </div>

	    <div class="col-md-9">
	    	<div class="tab-content">
	    		<div ng-show="ctrl.activeTab == 'stats'">
		    		<h4>Antworten</h4>
					<div class="row">
						<div class="col-xs-12 col-sm-4">
							<div class="stats-box">
								<h5>{{ ctrl.stats.result_count }}</h5>
								<p><i class="fa fa-exclamation-triangle fa-fw"></i> Insgesamt | {{ ctrl.stats.result_count / ctrl.stats.user_count | number:0  }} pro Nutzer</p>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4">
							<div class="stats-box">
								<h5>{{ ctrl.stats.result_count_today }}</h5>
								<p><i class="fa fa-exclamation-triangle fa-fw"></i> 24 Stunden</p>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4">
							<div class="stats-box">
								<h5>{{ ctrl.stats.result_per_minute | number : 2 }}</h5>
								<p><i class="fa fa-exclamation-triangle fa-fw"></i> pro Minute</p>
							</div>
						</div>
					</div>

					<hr>

					<h4>Nutzer</h4>
					<div class="row">
						<div class="col-xs-12 col-sm-4">
							<div class="stats-box">
								<h5>{{ ctrl.stats.user_count }}</h5>
								<p><i class="fa fa-users fa-fw"></i> Insgesamt</p>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4">
							<div class="stats-box">
								<h5>{{ ctrl.stats.user_count_login_today }}</h5>
								<p><i class="fa fa-users fa-fw"></i> Angemeldet 24 Stunden</p>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4">
							<div class="stats-box">
								<h5>{{ ctrl.stats.user_count_register_today }}</h5>
								<p><i class="fa fa-users fa-fw"></i> Registriert 24 Stunden</p>
							</div>
						</div>
					</div>

					<hr>

					<div class="row">
						<div class="col-xs-12 col-sm-4">
							<div class="stats-box">
								<h5>{{ ctrl.stats.question_count }}</h5>
								<p> <i class="fa fa-question-circle fa-fw"></i> Fragen | {{ ctrl.stats.visible_question_count }} sichtbar</p>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4">
							<div class="stats-box">
								<h5>{{ ctrl.stats.exam_count }}</h5>
								<p> <i class="fa fa-list fa-fw"></i> Klausuren | {{ ctrl.stats.visible_exam_count }} sichtbar</p>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4">
							<div class="stats-box">
								<h5>{{ ctrl.stats.comment_count }}</h5>
								<p> <i class="fa fa-comments fa-fw"></i> Kommentare</p>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4">
							<div class="stats-box">
								<h5>{{ ctrl.stats.tag_count }}</h5>
								<p> <i class="fa fa-tags fa-fw"></i> Markierungen</p>
							</div>
						</div>
					</div>

					<br><br><br>
				</div>


	    		<div ng-show="ctrl.activeTab == 'users'">
					<div class="row">
						<div class="col-xs-12 col-sm-4">
							<div class="stats-box">
								<h5>{{ ctrl.stats.user_count }}</h5>
								<p><i class="fa fa-users fa-fw"></i> Insgesamt</p>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4">
							<div class="stats-box">
								<h5>{{ ctrl.stats.user_count_login_today }}</h5>
								<p><i class="fa fa-users fa-fw"></i> Angemeldet 24 Stunden</p>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4">
							<div class="stats-box">
								<h5>{{ ctrl.stats.user_count_register_today }}</h5>
								<p><i class="fa fa-users fa-fw"></i> Registriert 24 Stunden</p>
							</div>
						</div>
					</div>
				</div>


	    		<div ng-show="ctrl.activeTab == 'questions'">
		    		<div class="row">
						<div class="col-xs-12 col-sm-4">
							<div class="stats-box">
								<h5>{{ ctrl.stats.question_count }}</h5>
								<p> <i class="fa fa-question-circle fa-fw"></i> {{ ctrl.stats.visible_question_count }} sichtbar</p>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4">
							<div class="stats-box">
								<h5>{{ ctrl.stats.question_worked_count }}</h5>
								<p> <i class="fa fa-question-circle fa-fw"></i> Insgesamt Gel&ouml;st</p>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4">
							<div class="stats-box">
								<h5>{{ ctrl.stats.question_worked_count_today }}</h5>
								<p> <i class="fa fa-question-circle fa-fw"></i> 24 Stunden Gel&ouml;st</p>
							</div>
						</div>
					</div>
				</div>


	    		<div ng-show="ctrl.activeTab == 'results'">
		    		<h4>Antworten</h4>
					<div class="row">
						<div class="col-xs-12 col-sm-4">
							<div class="stats-box">
								<h5>{{ ctrl.stats.result_count }}</h5>
								<p>
									<i class="fa fa-exclamation-triangle fa-fw"></i>
									Insgesamt | {{ ctrl.stats.result_count / ctrl.stats.user_count | number:0  }} pro Nutzer
								</p>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4">
							<div class="stats-box">
								<h5>{{ ctrl.stats.result_count_today }}</h5>
								<p><i class="fa fa-exclamation-triangle fa-fw"></i> 24 Stunden</p>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4">
							<div class="stats-box">
								<h5>{{ ctrl.stats.result_per_minute | number : 2 }}</h5>
								<p><i class="fa fa-exclamation-triangle fa-fw"></i> pro Minute</p>
							</div>
						</div>
					</div>

					<hr>

					<center>
						<canvas linechart data="::ctrl.chart_time_result_today" width="800" height="400"></canvas>
					</center>
					<h6>Antworten pro Stunde im Verlauf der letzten Stunden</h6>

					<br><br><br>
				</div>


	    		<div ng-show="ctrl.activeTab == 'activity'">
		    		<h4>Aktivit&auml;t <small>Aktualisieren braucht immer etwas...</small></h4>
		    		<div class="btn-toolbar">
		    			<div class="btn-group">
						    <label class="btn btn-danger" ng-model="ctrl.updateActivity" btn-checkbox>LIVE</label>
						</div>

		    			<div class="btn-group mbottom-2x">
						    <label class="btn btn-default" ng-model="ctrl.showActivity.result" ng-disabled="!ctrl.updateActivity" uib-btn-checkbox>Antworten</label>
						    <label class="btn btn-default" ng-model="ctrl.showActivity.register" ng-disabled="!ctrl.updateActivity" uib-btn-checkbox>Registrierungen</label>
						    <label class="btn btn-default" ng-model="ctrl.showActivity.login" ng-disabled="!ctrl.updateActivity" uib-btn-checkbox>Anmeldungen</label>
						    <label class="btn btn-default" ng-model="ctrl.showActivity.comment" ng-disabled="!ctrl.updateActivity" uib-btn-checkbox>Kommentare</label>
						    <label class="btn btn-default" ng-model="ctrl.showActivity.exam_new" ng-disabled="!ctrl.updateActivity" uib-btn-checkbox>Neue...</label>
						    <label class="btn btn-default" ng-model="ctrl.showActivity.exam_update" ng-disabled="!ctrl.updateActivity" uib-btn-checkbox>Ver&auml;nderte Klausuren</label>
						</div>
					</div>

					<table class="table">
						<tbody>
							<tr ng-repeat="act in ctrl.activities">
								<td>
									<span class="text-muted"><i class="fa fa-clock-o fa-fw"></i> <span timeago="{{act.date * 1000}}"></span></span>
								</td>
								<td ng-if="act.activity == 'result'">
									<strong>{{ act.username }}</strong> hat Frage #{{ act.question_id }}
									<span ng-show="act.correct==0"><strong class="text-danger">falsch</strong></span>
									<span ng-show="act.correct==1"><strong class="text-success">richtig</strong></span>
									beantwortet
								</td>
								<td ng-if="act.activity == 'register'">
									<strong>{{ act.username }}</strong> hat sich registriert
								</td>
								<td ng-if="act.activity == 'login'">
									<strong>{{ act.username }}</strong> hat sich angemeldet
								</td>
								<td ng-if="act.activity == 'comment'">
									<strong>{{ act.username }}</strong> hat einen Kommentar zur Frage #{{ act.question_id }} geschrieben
								</td>
								<td ng-if="act.activity == 'exam_new'">
									<strong>{{ act.username }}</strong> hat Klausur #{{ act.exam_id }} hinzugef&uuml;gt
								</td>
								<td ng-if="act.activity == 'exam_update'">
									<strong>{{ act.username }}</strong> hat Klausur #{{ act.exam_id }} ver&auml;ndert
								</td>
							</tr>
						</tbody>
					</table>
				</div>
	    	</div>
	    </div>
	</div>
</div>