<h4 class="mbottom-2x">Bitte sehr vorsichtig sein!</h4>
<div class="btn-toolbar">
    <div class="btn-group">
        <button class="btn btn-default" ng-click="$ctrl.changeSemester(+1)">Semester +1</button>
        <button class="btn btn-default" ng-click="$ctrl.changeSemester(-1)">-1</button>
    </div>
</div>

<hr>

<div class="btn-toolbar">
    <button class="btn btn-default" ng-click="$ctrl.removeTestAccount()">Test Account l&ouml;schen</button>
</div>

<hr>

<div class="btn-toolbar">
    <a class="btn btn-default" href="https://github.com/pantor/crucio" target="_self"><i class="fa fa-fw fa-external-link"></i> Github</a>
</div>
