<div class="container">
    <div class="row mtop-navbar-row">
        <div class="col-sm-12 col-md-4 visible-xs visible-sm">
            <div class="panel panel-default" ng-if="$ctrl.currentQuestion()">
                <div class="panel-heading"><h3 class="panel-title"><i class="fa fa-fw fa-flask"></i> {{ $ctrl.currentQuestion().subject }}</h3></div>
                <ul class="list-group">
                    <li class="list-group-item">{{ $ctrl.currentQuestion().semester }}. Semester<span ng-show="$ctrl.currentQuestion().sort">, {{ $ctrl.currentQuestion().sort }}</span></li>
                    <li class="list-group-item"><i class="fa fa-fw fa-calendar"></i> {{ $ctrl.currentQuestion().date }}</li>
                    <li class="list-group-item" ng-show="$ctrl.currentQuestion().professor"><i class="fa fa-fw fa-user-md"></i> {{ $ctrl.currentQuestion().professor }}</li>
                    <li class="list-group-item" ng-show="$ctrl.currentQuestion().notes"><i class="fa fa-fw fa-pencil-square-o"></i> {{ $ctrl.currentQuestion().notes }}</li>
                </ul>
            </div>
        </div>

        <div class="col-sm-12 col-md-8 mbottom-3x">
            <div ng-repeat="c in ::$ctrl.combination" id="{{ $index + 1 }}">
                <div class="form-horizontal" id="id{{ $index }}">
                    <blockquote>
                        <p>
                            <a href data-toggle="modal" data-target="#myModal" ng-show="c.question.question_image_url" ng-click="$ctrl.openImageModal(c.question.question_image_url)">
                                <img class="img-thumbnail pull-right" width="250px" ng-src="/files/{{ c.question.question_image_url }}">
                            </a>

                            <span ng-bind-html="c.question.question"></span>

                            <span class="label label-info" ng-show="c.question.type == 1"> Freie Frage</span>
                            <span class="label label-danger" ng-show="c.question.type > 1 && !c.question.correct_answer"> Keine Antwort</span>
                        </p>
                    </blockquote>

                    <div class="form-group" ng-repeat="answer in c.question.answers track by $index" ng-show="c.question.type > 1 && answer">
                        <div class="col-sm-offset-1 col-sm-10">
                            <div class="radio" ng-click="$ctrl.Collection.setAnswer($parent.$index, $index + 1)">
                                <label>
                                    <input type="radio" name="answers{{ $parent.$index }}" ng-checked="c.data.given_result == $index + 1" ng-value="$index + 1" />
                                    <p ng-bind-html="answer"></p>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>

        <div class="col-md-4 hidden-xs hidden-sm">
            <div class="panel panel-default" ng-if="$ctrl.currentQuestion()" style="position:fixed; width:300px;">
                <div class="panel-heading"><h3 class="panel-title"><i class="fa fa-fw fa-flask"></i> {{ $ctrl.currentQuestion().subject }}</h3></div>
                <ul class="list-group">
                    <li class="list-group-item">{{ $ctrl.currentQuestion().semester }}. Semester<span ng-show="$ctrl.currentQuestion().sort">, {{ $ctrl.currentQuestion().sort }}</span></li>
                    <li class="list-group-item"><i class="fa fa-fw fa-calendar"></i> {{ $ctrl.currentQuestion().date }}</li>
                    <li class="list-group-item" ng-show="$ctrl.currentQuestion().professor"><i class="fa fa-fw fa-user-md"></i> {{ $ctrl.currentQuestion().professor }}</li>
                    <li class="list-group-item" ng-show="$ctrl.currentQuestion().notes"><i class="fa fa-fw fa-pencil-square-o"></i> {{ $ctrl.currentQuestion().notes }}</li>

                    <li class="list-group-item" ng-show="$ctrl.Collection.getQuestionData($ctrl.currentIndex).topic && $ctrl.Collection.getQuestionData($ctrl.currentIndex).topic != '' && $ctrl.Collection.getQuestionData($ctrl.currentIndex).topic != 'Sonstiges'">
                        <i class="fa fa-fw fa-angle-right"></i> {{ $ctrl.Collection.getQuestionData($ctrl.currentIndex).topic }}
                    </li>

                    <li class="list-group-item">
                        <p class="strong">Frage {{ $ctrl.currentIndex + 1 }} von {{ $ctrl.length }}</p>

                        <uib-progressbar value="($ctrl.currentIndex + 1) / $ctrl.length * 100" type="success"></uib-progressbar>
                    </li>

                    <li class="list-group-item" ng-if="$ctrl.index != -1">
                        <button type="button" class="btn btn-default" ng-click="$ctrl.Collection.saveRemote()">
                            Speichern
                        </button>

                        <button type="button" class="btn btn-danger pull-right" ui-sref="analysis">Klausur beenden</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="btn-toolbar mbottom-3x mmtop visible-xs visible-sm">
        <button class="btn btn-default" ng-click="$ctrl.$document.scrollTopAnimated(0, 400)">
            <i class="fa fa-fw fa-arrow-circle-o-up"></i> Nach Oben
        </button>

        <button type="button" class="btn btn-default" ng-click="$ctrl.Collection.saveRemote()">
            Speichern
        </button>

        <button type="button" class="btn btn-danger pull-right" ui-sref="analysis">Klausur beenden</button>
    </div>
</div>
