<div class="wrap">
  <div class="container">
    <div class="d-flex justify-content-between">
      <a class="brand d-flex flex-column justify-content-center align-items-center" routerLink="">
        <h1><i class="fa fa-check-square-o"></i> Crucio</h1>
      </a>

      <a class="btn btn-outline-success mt-3 mb-3" routerLink="">
        <i class="fa fa-sign-in fa-fw"></i> Anmelden
      </a>
    </div>
  </div>

  <div class="container-fluid bg-image">
    <div class="container text-white">
      <div class="text-center pt-5 pb-5">
        <h1 class="display-3"><i class="fa fa-unlock"></i></h1>
        <h4>Passwort Ändern</h4>
      </div>
    </div>
  </div>

  <div class="container-fluid bg-light">
    <div class="container">
      <div class="text-center pt-4 pb-4">
        <p>Du kannst hier dein neues Passwort eintragen.</p>
      </div>
    </div>
  </div>

  <div class="container mt-5 mb-5">
    <form [formGroup]="f" (ngSubmit)="changePassword()" novalidate>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Passwort</label>
        <div class="col-sm-9 col-md-5">
          <input class="form-control" [class.is-invalid]="f.get('password').invalid && f.get('password').touched" type="password" formControlName="password" />

          <div class="invalid-feedback" *ngIf="f.get('password').hasError('token')  && f.get('password').touched">
            Konnte den Schlüssel nicht zuordnen.
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Passwort bestätigen</label>
        <div class="col-sm-9 col-md-5">
          <input class="form-control" [class.is-invalid]="f.hasError('mismatchedPasswords') && f.get('passwordC').touched" type="password" formControlName="passwordC" />

          <div class="invalid-feedback" *ngIf="f.hasError('mismatchedPasswords')  && f.get('passwordC').touched">
            Passwörter verschieden
          </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-3"></div>
        <div class="col-sm-5">
          <button class="btn btn-success" type="submit" [disabled]="f.invalid">Passwort ändern</button>
        </div>
      </div>
    </form>
  </div>
</div>

<footer class="navbar navbar-dark bg-dark">
  <div class="container d-flex justify-content-around">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="https://sturamed-leipzig.de">Sturamed</a>
      </div>

      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/app"><i class="fa fa-check-square-o"></i></a>
      </div>

      <div class="navbar-nav d-flex flex-row">
        <a class="nav-item nav-link" routerLink="/contact">Kontakt</a>
        <a class="nav-item nav-link ml-3" routerLink="/about">Impressum</a>
      </div>
  </div>
</footer>
