// Variables

$white: #fff; // background
$blue: #5bc0de; // info
$green: #17971b; // success
$red: #d9534f; // danger
$orange: #d35400; // primary
$yellow: #f0ad4e; // warning

$light-grey: darken($white, 6.5%);
$light-blue: #6d9bb5;
$light-green: #5cb85c;
$light-orange: #e67e22;
$dark-blue: #2c3e50;
$dark-grey: #444;



[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body, html {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: $white;
}
.body-padding {
    padding-top: 73px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -61px;
    padding: 0 0 60px;
}

.text-right {
    text-align: right;
}

.fa-remove.form-control-feedback {
    margin-top: 9px;
}


// Container

.container-center-align {
    margin-top: 80px;
    text-align: center;

    .fa {
        font-size: 192px;
        color: #ddd;
        margin: 20px;
    }

    hr {
        margin: 20px;
    }
}

.container-center-align-sm {
    text-align: center;

    .fa {
        font-size: 192px;
        color: #ddd;
        margin: 20px;
    }
}

.container-register {
    margin-top: 60px;
    margin-bottom: 50px;
}


.container-padding-2 { padding: 30px 0; }
.container-padding-4 { padding: 60px 0; }
.container-padding-6 { padding: 90px 0; }

.container-light-grey { background-color: $light-grey; }
.container-light-orange { background-color: $light-orange; }
.container-dark-orange { background-color: $orange; }
.container-image {
    background-image: url(../images/background.jpg);
    background-position: 50% 0;
}

.container-top-bar {
    padding-top: 9px;
    padding-bottom: 2px;
    margin-bottom: 2px;

    h1 {
        margin-top: 6px;

        a {
            font-weight: 700;

            color: $dark-blue;
            font-family: 'Lato', sans-serif;
            transition: all .2s;

            padding: 13px;

            &:hover {
                text-decoration: none;
                color: $white;
                background-color: $dark-blue;
            }
        }
    }

    .element {
        margin-bottom: 0px;

        .checkbox {
            margin-top: 3px;
            margin-bottom: 0px;
            padding-left: 20px;
        }

        label {
            margin-top: 0px;
            font-size: 12px;
            color: $dark-grey;
            font-family: 'Lato', sans-serif;

            a {
                color: $dark-grey;
            }
        }
    }

    button, a.btn {
        margin-top: 7px;
        margin-bottom: 6px;

        color: $dark-grey;
        background-color: rgba(0,0,0,0);
        font-family: 'Lato', sans-serif;
        border: 2px solid $dark-blue;
        transition: all .2s;

        &:hover {
            color: $white;
            background-color: $dark-blue;
        }
    }
}

.container-text {
    text-align: center;
    font-family: 'Lato', sans-serif;

    h4 {
        letter-spacing: 0.2em;
        text-transform: uppercase;
        font-weight: 300;
        padding-top: 26px;
    }

    p {
        max-width: 780px;

        font-weight: 300;
        font-size: 15px;
        line-height: 26px;
        margin: 20px auto 0px auto;
    }

    a {
        font-style: italic;
    }

    .btn-green {
        border: 2px solid $green;
        margin: 5px;
        margin-top: 40px;

        color: $green;
        background-color: rgba(255, 255, 255, 0);

        transition: all .2s;

        &:hover {
            color: $white;
            background-color: $green;
        }
    }
}
.container-text-light { color: $white; }
.container-text-dark { color: $dark-grey; }
.container-text-danger { color: $red; }
.container-text-success { color: $green; }




// Index

.brand {
    margin: 20px auto;
    text-align: center;

    color: $white;
    font-family: 'Lato', 'Open Sans', sans-serif;

    h1 {
        margin-top: 10px;
        margin-bottom: 15px;

        font-size: 70px;
        font-weight: 700;
    }

    p {
        max-width: 600px;
        margin: 30px auto;

        line-height: 26px;
        font-weight: 300;
        letter-spacing: -0.25px;
        font-size: 16px;
    }

    .btn {
        border: 2px solid $white;
        margin: 5px;

        color: $white;
        transition: all .2s;

        &:hover {
            color: $green;
            background-color: $white;
        }
    }
}

.image-med-exam {
    margin-top: 0px;
    margin-bottom: -90px;
}

.sturamed {
    margin: 0px auto;
    max-width: 260px;

    p {
        color: $dark-grey;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        text-align: center;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        margin-bottom: 10px;
    }
}

.cite {
    margin: 0px auto 40px auto;
    max-width: 700px;

    font-family: 'Lato', sans-serif;

    h3 {
        font-size: 32px;
        font-weight: 300;
        color: darken(desaturate($light-blue, 21%), 12%);
        text-align: center;
    }

    i {
        color: $orange;
        margin-left: 120px;

        a {
            font-size: 14px;
            font-weight: 400;
            color: darken(desaturate($light-blue, 20%), 20%);
        }
    }
}

.info-block-crucio {
    text-align: center;
    font-weight: 300;

    h2 {
        margin-top: 10px;
        margin-bottom: 10px;

        color: $dark-grey;
        font-size: 30px;
        font-weight: 300;
    }

    p {
        font-size: 14px;
        color: #777;
        font-family: 'Open Sans', sans-serif;
        padding: 0px 10px;
    }

    i {
        width: 142px;
        height: 142px;
        margin: 10px auto;
        padding-top: 40px;

        background-color: $light-blue;
        border: 1px solid $light-blue;
        border-radius: 85px;
        transition: all .2s;

        font-size: 56px;
        color: $white;

        &:hover {
            background: $white;
            color: $light-blue;
        }
    }
}

.footer {
    padding-top: 21px;
    padding-bottom: 9px;
    background-color: $dark-blue;

    color: $white;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.1em;

    font-weight: 300;
    font-family: 'Lato', sans-serif;

    .left {
        float: left;
        text-align: left;
        width: 250px;
    }

    .center {
        text-align: center;
    }

    .right {
        float: right;
        text-align: right;
        width: 250px;
    }

    a {
        color: $white;
    }

    i {
        font-size: 20px;
    }
}


// General spaces

.mtop-8 { margin-top: 8px; }
.mtop-navbar-row { margin-top: 33px; }

.mtop { margin-top: 10px; }
.mtop-2x { margin-top: 20px; }
.mtop-3x { margin-top: 30px; }
.mmtop { margin-top: -10px; }

.mbottom { margin-bottom: 10px; }
.mbottom-2x { margin-bottom: 20px; }
.mbottom-3x { margin-bottom: 30px; }
.mmbottom { margin-bottom: -10px; }


// Dots

.dot {
    border-radius: 50%;
    height: 16px;
    width: 16px;
    margin: 5px;

    span {
        margin-left: 25px;
        margin-top: -2px;
        position: absolute;
    }
}

.dot-success { background-color: $light-green; }
.dot-danger { background-color: $red; }
.dot-info { background-color: $blue; }
.dot-warning { background-color: $yellow; }


// Comment

.comment-voting {
    margin-top: -4px;
    margin-right: 12px;
    width: 20px;
    height: 40px;

    .comment-voting-up { }

    .comment-voting-number {
        margin-top: -7px;
        margin-left: -3px;
        text-align: center;
        width: 20px;
    }

    .comment-voting-down {
        margin-top: -7px;
    }
}


// Spinner

.spinner {
    position: absolute;
    left: 50%;
    margin-left: 0;
    margin-top: 30px;
    height: 50px;
}

.spinner-text {
    position: absolute;
    left: 50%;
    margin-left: -100px;
    margin-top: 30px;
    text-align: center;
    width: 200px;
}



// Validation error for all forms: registration, account...

.validation-error {
    font-size: 85%;
    position: relative;
    top: 6px;
    margin-left: 4px;
    padding: 3px 6px;
    line-height: 22px;
}

input[id^="textAngular"] {
    height: 0 !important;
}

::-webkit-input-placeholder {
    color: #ccc !important;
}



// Crucio colored navbar

.navbar-nav > li > a {
    padding-top: 26px;
    padding-bottom: 26px;
    line-height: 20px;
}

.navbar-nav .open .dropdown-menu > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-crucio {
    color: $white;
    background-color: $orange;
    height: 73px;

    .navbar-brand {
        color: $white;
        background-color: $orange;
        line-height: 72px;
        height: 72px;

        h1 {
            margin-top: 2px;

            font-weight: 700;
            font-family: 'Lato', sans-serif;
        }

        &:hover, &:focus {
            color: $white;
            background-color: $orange;
        }
    }

    .navbar-text {
        color: #f5f5f5;
    }

    .navbar-toggle {
        color: $white;
        border-color: $white;

        &:hover, &:focus {
            background-color: #c24200;
        }

        .icon-bar {
            background-color: #cccccc;
        }
    }

    .navbar-link {
        color: #777;

        &:hover {
          color: #333;
        }
    }

    .navbar-nav > li > a {
        color: rgba(255, 255, 255, .7);

        background-color: $orange;

        letter-spacing: 0.02em;
        text-align: center;
        font-weight: 400;
        font-family: 'Lato', sans-serif;
        font-size: 15px;

        &:hover, &:focus {
            color: $white;
            transition: all .2s;
        }
    }

    .navbar-nav > .active > a,
    .navbar-nav > .active > a:hover,
    .navbar-nav > .active > a:focus {
        color: $white;
        font-weight: bold;
        padding-bottom: 24px;
        border-bottom: 3px solid $white;
    }

    .navbar-nav > .disabled > a,
    .navbar-nav > .disabled > a:hover,
    .navbar-nav > .disabled > a:focus {
        color: #cccccc;
        background-color: transparent;
    }

    .navbar-nav > .open > a,
    .navbar-nav > .open > a:hover,
    .navbar-nav > .open > a:focus {
        color: $white;
        background-color: $orange;
    }
}

@media (max-width: 767px) {
    .navbar-crucio {
        .navbar-nav > li > a {
            color: #333;
            background-color: $light-orange;
        }

        .navbar-collapse,
        .navbar-form {
            border: solid 6px $orange;
            background-color: $light-orange;
        }

        .navbar-nav .open {
            .dropdown-menu > li > a {
                color: #333;
            }

            .dropdown-menu > li > a:hover,
            .dropdown-menu > li > a:focus {
                color: $white;
                background-color: #c24200;
            }

            .dropdown-menu > .active > a,
            .dropdown-menu > .active > a:hover,
            .dropdown-menu > .active > a:focus {
                color: #555;
                background-color: #e7e7e7;
            }

            .dropdown-menu > .disabled > a,
            .dropdown-menu > .disabled > a:hover,
            .dropdown-menu > .disabled > a:focus {
                color: #333;
                background-color: transparent;
            }
        }
    }
}



// Sidebar menu

.sidebar li {
    a {
        color: $dark-blue;

        letter-spacing: 0.05em;
        text-transform: uppercase;
        font-family: 'Lato', sans-serif;

        cursor: pointer;

        transition: all 0.2s;
    }

    &:hover {
        a {
            background-color: $light-grey;
            color: $dark-blue;
        }
    }

    &.active > a {
        &,
        &:hover,
        &:focus {
            background-color: $dark-blue;
            color: $white;
        }
    }
}



// --- Stats box ---
.stats-box {
    text-align: center;
    padding: 10px;
    margin: 12px 10px;

    flex: 1;
    flex-basis: 30%;

    background-color: $light-grey;
    border-radius: 8px;

    font-size: 12px;
    font-weight: 300;
    font-family: 'Lato', sans-serif;

    color: $dark-grey;

    h5 {
        margin: 10px auto;
        font-size: 36px;
        font-weight: 700;
    }

    p {
        text-transform: uppercase;
    }
}

.exam-progress-comment {
    margin-bottom: 4px;
    margin-top: -14px;

    letter-spacing: 0.05em;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;

    font-weight: 400;
    font-family: 'Lato', sans-serif;
}



// Admin

.btn-admin-group {
    width: 65px;
}



// Edit exam

.exam-edit-list-group {
    margin: 0;

    a {
        border: none;
        border-top: 1px solid #ddd;
    }

    .list-group-item:first-child {
        border-top: none;
    }

    .list-group-item.active {
        background-color: $dark-blue;
        border: none;

        .list-group-item-text {
            color: $white;
        }
    }
}

.edit-exam-wrapper {
    min-height: 20px;
    margin-bottom: 20px;

    overflow: auto;

    border: 1px solid #ddd;
    border-radius: 4px;
}

.edit-exam-wrapper-content {
    min-height: 300px;
    margin-top: -32px;

    padding: 36px 0;
    padding-right: 14px;

    overflow: auto;
    overflow-x: hidden;
}



// Editor

.ta-scroll-window.form-control {
    min-height: 20px;
}
.ta-scroll-window > .ta-bind {
    min-height: 20px;
}

.text-angular-large .ta-scroll-window > .ta-bind {
    min-height: 100px;
}

.ta-editor {
    height: 100px;
    overflow: scroll;
    font-family: inherit;
    font-size: 100%;
}
.ta-toolbar {
    margin: 5px;
    margin-left: 0px;
}
.ta-toolbar > .btn-group {
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 10px;
}

sup {
    vertical-align: super;
}

sub {
    vertical-align: sub;
}



// Question

.btn-group-strike {
    margin-left: -50px;
    margin-top: 5px;
    float: left;
}

.strike {
    text-decoration: line-through;
}

.showme {
    display: none;
}

.showhim:hover .showme {
    display : block;
}

.question-answer {
    padding: 5px;
    border-radius: 4px;
}

.answer {
    padding: 5px;
    margin-top: -5px;
    border-radius: 4px;
}


// Loading bar

#loading-bar {
    .bar {
        background: $orange;
    }

    // Fancy blur effect
    .peg {
        box-shadow: $orange 1px 0 6px 1px;
    }
}

#loading-bar-spinner .spinner-icon {
    border-top-color:  $orange;
    border-left-color: $orange;
}



// Slider

.rzslider {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 4px;
    margin: 35px 0 15px 0;
    vertical-align: middle;
    user-select: none;

    span {
        position: absolute;
        display: inline-block;
        white-space: nowrap;
    }

    .rz-base {
        width: 100%;
        height: 100%;
        padding: 0;
    }

    .rz-bar-wrapper {
        left: 0;
        z-index: 1;
        width: 100%;
        height: 32px;
        padding-top: 16px;
        margin-top: -16px;
        box-sizing: border-box;

        &.rz-draggable {
            cursor: move;
        }
    }

    .rz-bar {
        left: 0;
        z-index: 1;
        width: 100%;
        height: 12px;
        background: $light-grey;
        border-radius: 32px;

        &.rz-selection {
            z-index: 2;
            background: #0db9f0;
            border-radius: 2px;
        }
    }

    .rz-pointer {
        top: -3px;
        z-index: 3;
        width: 18px;
        height: 18px;
        cursor: pointer;
        background-color: $orange;
        border-radius: 9px;

        &:after {
            display: none;
        }

        &:hover {
            background-color: $light-orange;
        }

        &.rz-active:after {
            background-color: #451aff;
        }
    }

    .rz-bubble {
        bottom: 16px;
        padding: 1px 3px;
        color: #55637d;
        cursor: default;

        &.rz-selection {
            top: 16px;
        }

        &.rz-limit {
            color: #55637d;
        }
    }

    .rz-ticks {
        position: absolute;
        top: -3px;
        left: 0;
        z-index: 1;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        padding: 0 11px;
        margin: 0;
        list-style: none;
        box-sizing: border-box;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;

        .tick {
            width: 10px;
            height: 10px;
            text-align: center;
            cursor: pointer;
            background: darken($light-grey, 9%);
            border-radius: 50%;

            &.selected {
                background: $blue;
            }

            .tick-value {
                position: absolute;
                top: -30px;
                transform: translate(-50%, 0);
            }
        }
    }
}

rzslider[disabled] {
  cursor: not-allowed;

  .rz-pointer {
    cursor: not-allowed;
    background-color: darken($light-grey, 9%);
  }
}

// Loading animation

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  50% {
    opacity: 1;
  }
}

@mixin transition($time) {
  -o-transition: all $time;
	-moz-transition: all $time;
	-webkit-transition: all $time;
	-ms-transition: all $time;
	transition: all $time;
}

.body-animated {
	-webkit-animation-name: zoomIn;
	animation-name: zoomIn;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.loading-screen {
    background-color: $light-grey;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0px;
    right: 0px;
    padding: 20%;
}


// tags

tags-input {
    box-shadow: none;
    border: none;
    padding: 0;
    min-height: 34px;

    .tags {
        -moz-appearance: none;
        -webkit-appearance: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

        &.focused {
            border: 1px solid #66afe9;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
        }
    }

    .autocomplete {
        border-radius: 4px;

        .suggestion-item.selected {
            color: #262626;
            background-color: #f5f5f5;

            em {
                color: #262626;
                background-color: #f5f5f5;
            }
        }

        .suggestion-item em {
            color: #000;
            background-color: #fff;
        }
    }

    .ng-invalid .tags {
        border-color: #843534;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
    }

    &[disabled] .tags {
        background-color: #eee;

        .tag-item {
            background: #843534;
            opacity: 0.65;
        }

        .input {
            background-color: #eee;
        }
    }
}

.tag-item,
tags-input .tags .tag-item {
    margin: 2px;
    padding: 0 5px;
    line-height: 25px;

    color: $white;
    background: $light-blue;
    border: 1px solid $light-blue;
    border-radius: 4px;

    &.selected {
        color: $white;
        background: darken($light-blue, 20%);
        border: 1px solid darken($light-blue, 20%);
    }

    .remove-button {
        color: $white;
    }

    .remove-button:hover {
        text-decoration: none;
    }

    .remove-button:active {
        color: darken($light-blue, 20%);
    }
}
