<div class="flex-container">
    <dropdown class="btn-group" data="$ctrl.distinctSemesters" selected="$ctrl.userSearch.semester" placeholder="Alle Semester" suffix=". Semester" show-key="semester" on-update="$ctrl.loadUsers()"></dropdown>

    <dropdown class="btn-group" data="$ctrl.distinctGroups" selected="$ctrl.userSearch.group" placeholder="Alle Gruppen" show-key="name" on-update="$ctrl.loadUsers()"></dropdown>

    <div style="flex: 1"></div>

    <div style="flex: 1; min-width: 250px; max-width: 400px; margin-top: 2px;">
        <div class="input-group">
            <input class="form-control" type="text" ng-model="$ctrl.userSearch.query" ng-change="$ctrl.loadUsers()">
            <span class="input-group-btn">
                <button class="btn btn-default" ng-click="$ctrl.loadUsers()"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </div>
</div>

<div class="table-responsive mtop">
    <table class="table table-hover">
        <thead>
            <th></th>
            <th>Name</th>
            <th>Semester</th>
            <th>Letzte Anmeldung</th>
            <th>Registrierung</th>
        </thead>

        <tbody>
            <tr ng-repeat="user in $ctrl.users" ng-click="$ctrl.userModal($index)" style="cursor: pointer;">
                <td>
                    <span class="label" ng-class="{ 'label-danger': user.group_id == 2, 'label-info': user.group_id == 3, 'label-default': user.group_id == 1 }">{{ user.group_name }}</span>
                </td>
                <td>{{ ::user.username }}</td>
                <td>{{ user.semester }}</td>
                <td>
                    <span ng-if="user.last_sign_in > 0 && !$ctrl.isToday(user.last_sign_in) && !$ctrl.isToday(user.last_sign_in, 24)">
                        {{ ::user.last_sign_in * 1000 | date: 'dd.MM.yyyy, HH:mm' }}
                    </span>

                    <span ng-if="user.last_sign_in > 0 && $ctrl.isToday(user.last_sign_in)" class="label label-success">
                        Heute, {{ ::user.last_sign_in * 1000 | date: 'HH:mm' }}
                    </span>

                    <span ng-if="user.last_sign_in > 0 && $ctrl.isToday(user.last_sign_in, 24)">
                        Gestern, {{ ::user.last_sign_in * 1000 | date: 'HH:mm' }}
                    </span>

                    <span ng-if="user.last_sign_in == 0 && user.active == 0" class="label label-danger">Nicht Aktiviert</span>
                    <span ng-if="user.last_sign_in == 0 && user.active == 1" class="label label-warning">Nie Angemeldet</span>
                </td>
                <td>{{ ::user.sign_up_date * 1000 | date: 'dd.MM.yyyy' }}</td>
            </tr>

            <tr class="search-sf" ng-show="$ctrl.users.length >= 100"><td class="text-muted" colspan="6">...</td></tr>
            <tr class="search-sf" ng-show="!$ctrl.users.length"><td class="text-muted" colspan="6">Nichts gefunden.</td></tr>
        </tbody>
    </table>
</div>
