<div class="card">
  <div class="card-header">
    <i class="fa fa-search"></i>
    <span *ngIf="searchResults && searchResults.length == limit">Mehr als {{ limit }} Ergebnisse</span>
    <span *ngIf="searchResults && searchResults.length > 0 && searchResults.length < limit">{{ searchResults.length }} Ergebnisse</span>
    <span *ngIf="!searchResults || (searchResults && searchResults.length == 0)">Suche nach Fragen</span>
  </div>
  <div class="card-body">
    <div class="btn-toolbar no-gutters">
      <app-dropdown-button class="mr-2" [data]="distinctSemesters" [selected]="questionSearch.semester" showKey="semester" suffix=". Semester" placeholder="Alle Semester" (onUpdate)="questionSearch.semester = $event; searchQuestion()"></app-dropdown-button>

      <app-dropdown-button class="mr-2" [data]="distinctSubjects" [selected]="questionSearch.subject" showKey="name" placeholder="Alle Fächer" (onUpdate)="questionSearch.subject = $event; searchQuestion()"></app-dropdown-button>

      <form class="input-group mr-2 col" (ngSubmit)="searchQuestion()">
        <input class="form-control" type="text" name="query" [(ngModel)]="questionSearch.query" placeholder="...">

        <span class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="searchQuestion()">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </form>

      <div ngbDropdown class="btn-group" placement="bottom-right">
        <button type="button" class="btn btn-success" [disabled]="!(searchResults && searchResults.length > 0)" (click)="learnQuery('question')"><i class="fa fa-fw fa-graduation-cap"></i> Lernen</button>
        <button class="btn btn-success" ngbDropdownToggle [disabled]="!(searchResults && searchResults.length > 0)"></button>

        <div ngbDropdownMenu>
          <button class="dropdown-item" (click)="learnQuery('exam')">Klausuransicht</button>
          <button class="dropdown-item" (click)="learnQuery('pdf-exam')">PDF Fragen</button>
          <button class="dropdown-item" (click)="learnQuery('pdf-both')">PDF Fragen & Lösungen</button>
        </div>
      </div>
    </div>
  </div>
</div>

<table class="table table-hover mt-2" *ngIf="searchResults && searchResults.length > 0">
  <thead>
    <th></th>
    <th>Semester</th>
    <th><i class="fa fa-flask fa-fw"></i> Fach</th>
    <th>Frage</th>
    <th></th>
  </thead>

  <tbody>
    <tr *ngFor="let q of searchResults">
      <td><i class="fa fa-check" [hidden]="q.answered != 1"></i></td>
      <td>{{ q.semester }}</td>
      <td>{{ q.subject }}</td>
      <td><span [innerHTML]="q.question"></span></td>
      <td>
        <a routerLink="/app/question" [queryParams]="{ questionId: q.question_id, resetSession: 1 }">
          <i class="fa fa-chevron-right"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>
