<div class="modal-header">
    <h4 class="modal-title">
        <i class="fa fa-fw fa-bullhorn"></i> Frage Melden
    </h4>
</div>
<div class="modal-body">
    <form class="form-horizontal" name="form">
        <div ng-if="$ctrl.questionId" class="form-group">
            <label class="col-sm-2">Frage</label>
            <div class="col-sm-6">
                <span ng-bind-html="$ctrl.question.question"></span>
            </div>
        </div>

        <div ng-if="$ctrl.questionId" class="form-group">
            <label class="col-sm-2">Klausur</label>
            <div class="col-sm-6">
                {{ $ctrl.question.subject }}, {{ $ctrl.question.date }}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2">Nachricht</label>
            <div class="col-sm-10">
                <textarea ng-model="$ctrl.message" class="form-control" rows="4" placeholder="Bitte eine kleine Beschreibung... Danke!"></textarea>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$ctrl.dismiss()">Abbrechen</button>
    <button type="button" class="btn btn-primary" ng-disabled="!$ctrl.message" ng-click="$ctrl.reportQuestion()">Melden</button>
</div>
