<h4>Alle Klausuren</h4>

<div class="flex-container">
    <dropdown data="$ctrl.distinctSemesters" selected="$ctrl.examSearch.semester" placeholder="Alle Semester" suffix=". Semester" show-key="semester" on-update="$ctrl.loadExams()"></dropdown>

    <dropdown data="$ctrl.distinctSubjects" selected="$ctrl.examSearch.subject" placeholder="Alle F&auml;cher" show-key="name" on-update="$ctrl.loadExams()"></dropdown>

    <div style="flex: 1; min-width: 200px; margin-top: 2px;">
        <div class="input-group">
            <input class="form-control" type="text" ng-model="$ctrl.examSearch.query" ng-change="$ctrl.loadExams()">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="$ctrl.loadExams()"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </div>
</div>

<table class="table table-hover mtop">
    <thead>
        <th>Semester</th>
        <th><i class="fa fa-fw fa-flask"></i> Fach</th>
        <th><i class="fa fa-fw fa-calendar"></i>Termin</th>
        <th class="hidden-xs hidden-sm">Gel&ouml;ste Fragen</th>
        <th></th>
    </thead>

    <tbody>
        <tr ng-repeat="exam in $ctrl.exams">
            <td>{{ exam.semester }}</td>
            <td>{{ exam.subject }}</td>
            <td>{{ exam.date }}</td>
            <td class="hidden-xs hidden-sm">{{ exam.answered_questions }} / {{ exam.question_count }}</td>
            <td style="min-width: 120px;">
                <div class="btn-group pull-right" uib-dropdown>
                    <button type="button" class="btn btn-success btn-xs" ng-click="$ctrl.learnExam('question', exam.exam_id)"><i class="fa fa-fw fa-graduation-cap"></i> Lernen</button>
                    <button type="button" class="btn btn-success btn-xs" uib-dropdown-toggle>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                        <li role="menuitem"><a href ng-click="$ctrl.learnExam('exam', exam.exam_id)">Klausuransicht</a></li>
                        <li role="menuitem"><a href ng-click="$ctrl.learnExam('pdf', exam.exam_id)">PDF Fragen</a></li>
                        <li role="menuitem"><a href ng-click="$ctrl.learnExam('pdf-solution', exam.exam_id)">PDF L&ouml;sungen</a></li>
                        <li role="menuitem" ng-class="{ disabled: exam.file_name == '' }">
                            <a href="/files/{{ exam.file_name }}" target="_self" ng-if="exam.file_name != ''">
                                Originaldokument
                            </a>
                            <a ng-if="exam.file_name == ''">
                                Originaldokument
                            </a>
                        </li>

                        <li class="divider"></li>

                        <li role="menuitem" ng-class="{disabled: exam.answered_questions == 0}">
                            <a href ng-click="$ctrl.resetExam(exam)">Klausur zur&uuml;cksetzen</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>

        <tr ng-show="!$ctrl.exams.length"><td class="text-muted" colspan="6">Nichts gefunden.</td></tr>
    </tbody>
</table>
