<h4>Alle hochgeladenen m&uuml;ndlichen Pr&uuml;fungen</h4>

<div class="row">
    <div class="col-md-8 col-sm-8">
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group mtop">
                <a class="btn btn-success" ng-click="$ctrl.newOralExam()">Neue Pr&uuml;fung</a>
            </div>

            <dropdown class="btn-group" data="[{semester: 0, name: 'Physikum'}, {semester: 1, name: 'Staatsexamen'}]" selected="$ctrl.oralExamSearch.semester" placeholder="Alle Semester" show-key="name" on-update="$ctrl.loadOralExams()"></dropdown>

            <dropdown class="btn-group" data="$ctrl.distinctOralYears" selected="$ctrl.oralExamSearch.year" placeholder="Alle Jahre" show-key="year" on-update="$ctrl.loadOralExams()"></dropdown>
        </div>
    </div>

    <div class="col-md-4 col-sm-4">
        <div class="input-group mtop">
            <input type="text" class="form-control" ng-model="$ctrl.oralExamSearch.query" ng-change="$ctrl.loadOralExams()">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="$ctrl.loadOralExams()"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </div>
</div>

<table class="table table-hover mtop">
    <thead>
        <th></th>
        <th><i class="fa fa-fw fa-calendar"></i> Jahr</th>
        <th>Pr&uuml;fer</th>
        <th></th>
        <th></th>
    </thead>

    <tbody>
        <tr ng-repeat="exam in $ctrl.oralExams">
            <td>
                <span ng-show="exam.semester == 0" class="label label-primary">Physikum</span>
                <span ng-show="exam.semester == 1" class="label label-primary">Staatsexamen</span>
            </td>
            <td>{{ exam.year }}</td>
            <td>
                {{ exam.examiner_1 }}<br>
                {{ exam.examiner_2 }}<br>
                {{ exam.examiner_3 }}<br>
                <span ng-if="exam.examiner_count == 4">{{ exam.examiner_4 }}</span>
            </td>
            <td><a ui-sref="edit-oral-exam({ oralExamId: exam.oral_exam_id })"><i class="fa fa-pencil"></i></a></td>
            <td><a href="/files/{{ exam.filename }}" target="_blank" ng-show="exam.filename"><i class="fa fa-external-link"></i></a></td>
        </tr>

        <tr class="search-sf" ng-show="!$ctrl.oralExams.length"><td class="text-muted" colspan="6">Nichts gefunden.</td></tr>
    </tbody>
</table>
