<h4>Hinweise</h4>

<p>Zu einer Klausur gehören verschiedene Infos und eine Sammlung an Fragen. Es wäre schön, wenn diese möglichst einheitlich eingetragen werden. Unter anderem dafür folgende Anmerkungen:</p>

<dl>
    <dt>Fächer</dt>
    <dd>Ist das Fach der Klausur, die ihr eintragen wollt, noch nicht gespeichert, so schreibt uns bitte eine Mail. Jede Frage sollte einer Unterkategorie zugeordnet werden. Die Fächer mitsamt den Kategorien könnt ihr links anschauen.</dd>

    <dt>Datum</dt>
    <dd>Bitte tragt das Datum in der Schreibweise SS 2012 oder WS 2013/14 ein. Ein Wintersemester hat immer zwei Jahreszahlen. Falls ihr das Datum nicht kennt, tragt bitte 'Unbekannt' ein.</dd>

    <dt>Sonstiges</dt>
    <dd>Es wäre schön, wenn ihr Anmerkungen zur Durchschnittsnote und dem Schwierigkeitsgrad eintragen könntet.</dd>

    <dt>Fragen</dt>
    <dd>
        Bitte nummeriert die Fragen nicht.
        Falls die Frage aus einem Satz besteht, der durch die Antwort vervollständigt wird, so fügt bitte ein ... an das Fragenende hinzu. Ansonsten ein Fragezeichen oder ein Doppelpunkt, falls die Frage grammatikalisch ein Satz ist.
        Bitte benutzt die Möglichkeiten des Texteditors, insbesondere die Auflistung und die hoch- und tiefgestellten Zeichen.
    </dd>
</dl>

<p>Wir hoffen, dass der Rest selbsterklärend ist. Falls Unklarheiten offen sind, meldet euch bitte. Danke! ;)</p>
