<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <i class="fa fa-search"></i>
            <span ng-show="$ctrl.searchResults.length == $ctrl.limit">Mehr als {{ $ctrl.limit }} Ergebnisse</span>
            <span ng-show="$ctrl.searchResults.length > 0 && $ctrl.searchResults.length < $ctrl.limit">{{ $ctrl.searchResults.length }} Ergebnisse</span>
            <span ng-show="!$ctrl.searchResults || $ctrl.searchResults.length == 0">Suche nach Fragen</span>
        </h3>
    </div>

    <div class="panel-body">
        <div class="flex-container">
            <dropdown class="btn-group" data="$ctrl.distinctSemesters" selected="$ctrl.questionSearch.semester" placeholder="Alle Semester" suffix=". Semester" show-key="semester" on-update="$ctrl.searchQuestion()"></dropdown>

            <dropdown class="btn-group" data="$ctrl.distinctSubjects" selected="$ctrl.questionSearch.subject" placeholder="Alle F&auml;cher" show-key="name" on-update="$ctrl.searchQuestion()"></dropdown>

            <div style="flex: 1; min-width: 200px; margin-top: 2px; margin-right: 5px;">
                <form class="input-group" submit="$ctrl.searchQuestion()">
                    <input class="form-control" type="text" ng-model="$ctrl.questionSearch.query" placeholder="...">

                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="$ctrl.searchQuestion()">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </form>
            </div>

            <div class="btn-group" style="margin-top: 2px;" uib-dropdown>
                <button type="button" ng-disabled="!($ctrl.searchResults.length > 0)" class="btn btn-success" ng-click="$ctrl.learnQuery('question')"><i class="fa fa-fw fa-graduation-cap"></i> Lernen</button>
                <button type="button" ng-disabled="!($ctrl.searchResults.length > 0)" class="btn btn-success" uib-dropdown-toggle>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                    <li role="menuitem"><a href ng-click="$ctrl.learnQuery('exam')">Klausuransicht</a></li>
                    <li role="menuitem"><a href ng-click="$ctrl.learnQuery('pdf')">PDF Fragen</a></li>
                    <li role="menuitem"><a href ng-click="$ctrl.learnQuery('pdf-solution')">PDF L&ouml;sungen</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="spinner" us-spinner="{length: 0, radius: 18, color: '#333', shadow: false}" spinner-on="$ctrl.showSpinner" ng-show="$ctrl.showSpinner"></div>
<div class="spinner-text" ng-show="$ctrl.searchResults.length == 0 && $ctrl.hasSearched">
    <p class="text-muted">
        <span>Nichts gefunden.</span>
    </p>
</div>

<table class="table table-hover" ng-show="$ctrl.searchResults.length > 0">
    <thead>
        <th></th>
        <th>Semester</th>
        <th><i class="fa fa-flask fa-fw"></i> Fach</th>
        <th>Frage</th>
        <th></th>
    </thead>

    <tbody>
        <tr ng-repeat="question in $ctrl.searchResults">
            <td><i class="fa fa-check" ng-show="question.answered == 1"></i></td>
            <td>{{ question.semester }}</td>
            <td>{{ question.subject }}</td>
            <td><span ng-bind-html="question.question"></span></td>
            <td>
                <a ui-sref="question({ questionId: question.question_id, resetSession: 1 })">
                    <i class="fa fa-chevron-right"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>
