<div class="container">
    <div class="page-header">
        <h2>Account <small>von {{ $ctrl.user.username }} </small></h2>
    </div>

    <form class="form-horizontal" name="form" ng-submit="$ctrl.saveUser()">
        <div class="form-group">
            <label class="col-sm-3 control-label">Studienfach</label>
            <div class="col-sm-9">
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default active">
                        <input type="radio" name="options" value="1">Humanmedizin
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Fachsemester</label>
            <div class="col-sm-4">
                <input class="form-control" name="semester" type="number" ng-model="$ctrl.user.semester" min="1" max="50" required />
            </div>
            <div ng-messages="form.semester.$error" ng-show="form.semester.$touched" role="alert">
                <span class="label validation-error label-danger" ng-message="required || min || max">Kein Semester</span>
            </div>
            <span class="label validation-error label-info">Das Semester aktualisiert sich automatisch</span>
        </div>

        <hr>

        <div class="form-group">
            <label class="col-sm-3 control-label">Altes Passwort</label>
            <div class="col-sm-4">
                <input class="form-control" type="password" ng-model="$ctrl.oldPassword" ng-change="$ctrl.formChanged()">
            </div>
            <span class="label validation-error label-danger" ng-show="$ctrl.wrongPassword">Falsches Passwort</span>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Neues Passwort</label>
            <div class="col-sm-4">
                <input class="form-control" type="password" ng-model="$ctrl.newPassword" ng-change="$ctrl.formChanged()">
            </div>
            <span ng-show="$ctrl.newPassword.length < 6" class="label validation-error label-danger">Dein Passwort sollte l&auml;nger als 5 Zeichen sein</span>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Passwort best&auml;tigen</label>
            <div class="col-sm-4">
                <input class="form-control" type="password" ng-model="$ctrl.newPasswordC" ng-change="$ctrl.formChanged()">
            </div>
            <span ng-show="$ctrl.newPassword != $ctrl.newPasswordC" class="label validation-error label-danger">Passw&ouml;rter verschieden</span>
        </div>

        <hr>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-8">
                <button class="btn btn-primary" type="submit" ng-disabled="form.$invalid">
                    <i ng-show="$ctrl.isWorking" class="fa fa-circle-o-notch fa-spin"></i>
                    <span ng-show="!$ctrl.isSaved && !$ctrl.hasError">Speichern</span>
                    <span ng-show="$ctrl.isSaved">Gespeichert</span>
                    <span ng-show="$ctrl.hasError">Speichern nicht m&ouml;glich</span>
                </button>
            </div>
        </div>
    </form>
</div>
