<div class="container">
    <div class="page-header">
        <h2>Einstellungen <small>von {{ ::$ctrl.user.username }}</small></h2>
    </div>

    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label">Allgemein</label>
            <div class="col-sm-8">
                <div class="checkbox">
                    <label><input type="checkbox" ng-model="$ctrl.user.highlightExams" ng-change="$ctrl.formChanged()" ng-true-value="1" ng-false-value="0">
                        Empfohlene Fragen und Klausuren hervorheben
                    </label>
                </div>

                <div class="checkbox">
                    <label> <input type="checkbox" ng-model="$ctrl.user.showComments" ng-change="$ctrl.formChanged()" ng-true-value="1" ng-false-value="0">
                        Kommentare automatisch ausblenden
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Datenschutz</label>
            <div class="col-sm-8">
                <div class="checkbox">
                    <label><input type="checkbox" ng-model="$ctrl.user.useAnswers" ng-change="$ctrl.formChanged()" ng-true-value="1" ng-false-value="0">
                        Meine Antworten verwenden, um schwere Fragen herauszufinden
                    </label>
                </div>

                <div class="checkbox">
                    <label><input type="checkbox" ng-model="$ctrl.user.useTags" ng-change="$ctrl.formChanged()" ng-true-value="1" ng-false-value="0">
                        Meine Markierungen verwenden, um Fragen zu katalogisieren
                    </label>
                </div>
            </div>
        </div>

        <hr>

        <div class="form-group">
            <label class="col-sm-3 control-label">Zur&uuml;cksetzen</label>
            <div class="col-sm-8">
                <button class="btn btn-default" ng-click="$ctrl.deleteAllResultsModal()">Alle Klausuren zur&uuml;cksetzen</button>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-8">
                <button class="btn btn-primary" id="submitButton" ng-click="$ctrl.updateUser()">

                    <span ng-show="!$ctrl.isSaved && !$ctrl.hasError">
                        Speichern<span ng-show="$ctrl.isWorking">...</span>
                    </span>
                    <span ng-show="$ctrl.isSaved">Gespeichert</span>
                    <span ng-show="$ctrl.hasError">Speichern nicht m&ouml;glich</span>
                </button>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="deleteResultsModalContent.html">
    <div class="modal-header">
        <h4 class="modal-title">Wirklich alle Klausuren zur&uuml;cksetzen?</h4>
    </div>
    <div class="modal-body">
        <button type="button" class="btn btn-default" ng-click="$close()">Abbrechen</button>
        <button class="btn btn-danger pull-right" ng-click="$ctrl.deleteAllResults()">Zur&uuml;cksetzen</button>
    </div>
</script>
