<h4>&Uuml;bersicht deiner Klausuren</h4>

<div ng-if="$ctrl.abstractExams.length && $ctrl.ready" class="container-center-align-sm mbottom-2x">
    <i class="fa fa-pencil"></i>

    <hr>

    <h3>Hier ist dein Stift.</h3>
    <h5>Leider haben wir keine empfohlenen Klausuren f&uuml;r dich.<br> Du kannst aber links Klausuren heraussuchen und lernen;<br> alle angefangenen Klausuren werden dann hier angezeigt.</h5>
</div>

<div ng-if="!$ctrl.abstractExams.length && $ctrl.ready">
    <table class="table table-hover">
        <thead>
            <th><i class="fa fa-flask fa-fw"></i> Fach</th>
            <th><i class="fa fa-calendar fa-fw"></i> Termin</th>
            <th>Semester</th>
            <th class="hidden-xs hidden-sm">Gel&ouml;ste Fragen</th>
            <th></th>
        </thead>
        <tbody>
            <tr ng-repeat="exam in $ctrl.abstractExams">
                <td>{{ exam.subject }}</td>
                <td>{{ exam.date }}</td>
                <td>{{ exam.semester }}</td>
                <td class="hidden-xs hidden-sm">{{ exam.answered_questions }} / {{ exam.question_count }}</td>
                <td style="min-width: 250px;">
                    <div class="btn-group pull-right" role="group">
                        <a type="button" class="btn btn-default btn-xs" href ng-click="$ctrl.learnExam(exam.exam_id)">
                            Fragen
                        </a>

                        <a type="button" class="btn btn-default btn-xs" ui-sref="exam({ examId: exam.exam_id })">
                            Klausuransicht
                        </a>

                        <div class="btn-group" uib-dropdown>
                            <button type="button" class="btn btn-default btn-xs" uib-dropdown-toggle>
                                <i class="fa fa-fw fa-file-pdf-o"></i> PDF
                            </button>

                            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                <li><a href="/api/v1/pdf/exam/{{ exam.exam_id }}" target="_self">Klausur als PDF</a></li>
                                <li><a href="/api/v1/pdf/solution/{{ exam.exam_id }}" target="_self">L&ouml;sungen als PDF</a></li>

                                <li class="divider"></li>

                                <li ng-class="{disabled: exam.file_name == ''}">
                                    <a href="/files/{{ exam.file_name }}" target="_self" ng-if="exam.file_name != ''">
                                        Originaldokument
                                    </a>
                                    <a ng-if="exam.file_name == ''">
                                        Originaldokument
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="btn-group" uib-dropdown>
                            <button type="button" class="btn btn-default btn-xs" uib-dropdown-toggle>
                                <i class="fa fa-caret-down"></i>
                            </button>

                            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                <li ng-class="{disabled: exam.answered_questions == 0}">
                                    <a href ng-click="$ctrl.resetExam(exam)">Klausur zur&uuml;cksetzen</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
